# These macros are run on genome bams from the dna_alignment module.

{% macro bam_qc_gatk_collectwgsmetrics(sample, libraryCount, sample_lb, aligner='bwa', bam_level=true) %}
{% if tasks["Genome_quality_control_stats_gatk_CollectWgsMetrics"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

  {% set dna_metrics %}{{ results_dir }}/{{ bam|basename }}.wgs_metrics{% endset %}

- name: gatk_collectwgsmetrics_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, stats, gatk_CollectWgsMetrics, {{ sample.name }}]
  input: {{ bam }}
  output:
    - {{ dna_metrics }}
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_metrics
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "24:00:00"
  cpus: 2
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}

    mkdir -p "{{ results_dir }}"

    gatk CollectWgsMetrics \
      --java-options "-Xmx7G" \
      --USE_FAST_ALGORITHM false \
      --INPUT {{ bam }} \
      --OUTPUT {{ dna_metrics }} \
      --REFERENCE_SEQUENCE {{ constants.phoenix.reference_fasta }}

    {% if libraryCount == 1 %}
      cp {{ dna_metrics }} {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_metrics
    {% endif %}

{% endif %}
{% endmacro %}


{% macro bam_qc_gatk_collectwgsmetricswithnonzerocoverage(sample, libraryCount, sample_lb, aligner='bwa', bam_level=true) %}
{% if tasks["Genome_quality_control_stats_gatk_CollectWgsMetricsWithNonZeroCoverage"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

  {% set dna_metrics %}{{ results_dir }}/{{ bam|basename }}.wgs_wnzc_metrics{% endset %}

- name: gatk_collectwgsmetricswithnonzerocoverage_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, stats, gatk_CollectWgsMetricsWithNonZeroCoverage, {{ sample.name }}]
  input: {{ bam }}
  output:
    - {{ dna_metrics }}
    - {{ dna_metrics }}.pdf
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_wnzc_metrics
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_wnzc_metrics.pdf
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "24:00:00"
  cpus: 2
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}
    module load {{ constants.tools.R.module }}

    mkdir -p {{ results_dir }}

    gatk CollectWgsMetricsWithNonZeroCoverage \
      --java-options "-Xmx7G" \
      --INPUT {{ bam }} \
      --OUTPUT {{ dna_metrics }} \
      --CHART_OUTPUT {{ dna_metrics }}.pdf \
      --REFERENCE_SEQUENCE {{ constants.phoenix.reference_fasta }}

    {% if libraryCount == 1 %}
      cp {{ dna_metrics }} {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_wnzc_metrics
      cp {{ dna_metrics }}.pdf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_wnzc_metrics.pdf
    {% endif %}

{% endif %}
{% endmacro %}


{% macro bam_qc_gatk_collectrawwgsmetrics(sample, libraryCount, sample_lb, aligner='bwa', bam_level=true) %}
{% if tasks["Genome_quality_control_stats_gatk_CollectRawWgsMetrics"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

  {% set dna_metrics %}{{ results_dir }}/{{ bam|basename }}.wgs_raw_metrics{% endset %}

- name: gatk_collectrawwgsmetrics_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, stats, gatk_CollectRawWgsMetrics, {{ sample.name }}]
  input: {{ bam }}
  output:
    - {{ dna_metrics }}
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_raw_metrics
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "24:00:00"
  cpus: 2
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}

    mkdir -p "{{ results_dir }}"

    gatk CollectRawWgsMetrics \
      --java-options "-Xmx7G" \
      --USE_FAST_ALGORITHM false \
      --INPUT "{{ bam }}" \
      --OUTPUT "{{ dna_metrics }}" \
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      --INCLUDE_BQ_HISTOGRAM true

    {% if libraryCount == 1 %}
      cp {{ dna_metrics }} {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.wgs_raw_metrics
    {% endif %}

{% endif %}
{% endmacro %}