# These macros are run on bams from the dna_alignment and the star_quant modules.
# A cram is made for each bam followed by running BAM qc steps with samtools and gatk.
# Currently supports any sample.

{% from 'modules/qc/stats2json.jst' import stats2json with context %}

{% macro bam_qc_samtools_stats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) %}
{% if tasks[taskPrefix+"_quality_control_stats_samtools_stats"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
    {% set regions %}{{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.samstats_no_N_1based_target_regions.txt{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
    {% set regions %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.bam.samstats_no_N_1based_target_regions.txt{% endset %}
  {% endif %}

- name: samtools_stats_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, stats, samtools_stats, {{ sample.name }}]
  methods: Quality control metrics for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools.verbose }} stats.
  input: {{ bam }}
  output:
    - {{ results_dir }}/{{ bam|basename }}.bamstats.txt
    - {{ results_dir }}/{{ bam|basename }}.samstats_no_N_1based_target_regions.txt
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.bamstats.txt
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.samstats_no_N_1based_target_regions.txt
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "4:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.samtools.module }}
    module load {{ constants.tools.bedtools.module }}

    mkdir -p "{{ results_dir }}"

    {# If the sample.gltype == 'exome' then intersect the capture space with the Non-N genomic space #}
    {% if sample.gltype == 'exome' %}
    bedtools intersect \
      -a {{ constants.phoenix.reference_non_N_bed }} \
      -b {{ sample.capture_kit.no_header_targets_interval_list }} \
      | \
    sort -k1,1 -k2,2n \
      > {{ regions }}

      {% if libraryCount == 1 %}
      cp {{ regions }} {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.samstats_no_N_1based_target_regions.txt
      {% endif %}
    {% endif %}

    {#
      samtools view
        -q INT   only include reads with mapping quality >= INT [0]
        -h       include header in SAM output

      samtools stats
       --filtering-flag 256
            not primary alignment (0x100)
       --coverage <int>,<int>,<int>    Coverage distribution min,max,step [1,1000,1]
    #}
    samtools view \
      --threads 4 \
      -q 20 \
      -h \
      "{{ bam }}" \
      | \
    samtools stats \
      --remove-dups \
      --remove-overlaps \
      --filtering-flag 256 \
      --coverage 1,2500,1 \
      {% if aligner == 'star' %}
      --reference "{{ constants.phoenix.star_fasta }}" \
      --target-regions {{ constants.phoenix.reference_non_N_bed }} \
      {% elif aligner == 'bwa' %}
      {% if sample.gltype == 'exome' %}
      --target-regions {{ regions }} \
      {% else %}
      --target-regions {{ constants.phoenix.reference_non_N_bed }} \
      {% endif %}
      --reference "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      > "{{ results_dir }}/{{ bam|basename }}.bamstats.txt"

    {% if libraryCount == 1 %}
      cp {{ results_dir }}/{{ bam|basename }}.bamstats.txt {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.bamstats.txt
    {% endif %}

{% endif %}
{% endmacro %}


{% macro bam_qc_samtools_flagstat(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) %}
{% if tasks[taskPrefix+"_quality_control_stats_samtools_flagstat"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

- name: samtools_flagstat_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, stats, samtools_flagstat, {{ sample.name }}]
  methods: Quality control metrics for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools.verbose }} flagstat.
  input: {{ bam }}
  output:
    - {{ results_dir }}/{{ bam|basename }}.flagstats.txt
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.flagstats.txt
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "4:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.samtools.module }}

    mkdir -p "{{ results_dir }}"

    samtools flagstat \
      --threads 4 \
      "{{ bam }}" \
      > "{{ results_dir }}/{{ bam|basename }}.flagstats.txt"

    {% if libraryCount == 1 %}
      cp {{ results_dir }}/{{ bam|basename }}.flagstats.txt {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.flagstats.txt
    {% endif %}

{% endif %}
{% endmacro %}


{% macro bam_qc_samtools_idxstats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) %}
{% if tasks[taskPrefix+"_quality_control_stats_samtools_idxstats"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

- name: samtools_idxstats_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, stats, samtools_idxstats, {{ sample.name }}]
  methods: Index stats for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools.verbose }} idxstats.
  input: {{ bam }}
  output:
    - {{ results_dir }}/{{ bam|basename }}.idxstats.txt
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.idxstats.txt
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "4:00:00"
  cpus: 1
  mem: 2G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.samtools.module }}

    mkdir -p "{{ results_dir }}"

    samtools idxstats \
      "{{ bam }}" >\
      "{{ results_dir }}/{{ bam|basename }}.idxstats.txt"

    {% if libraryCount == 1 %}
      cp {{ results_dir }}/{{ bam|basename }}.idxstats.txt {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.idxstats.txt
    {% endif %}

{% endif %}
{% endmacro %}


{% macro bam_qc_gatk_collectmultiplemetrics(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) %}
{% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectMultipleMetrics"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

  {% set alignment_summary_metrics %}{{ results_dir }}/{{ bam|basename }}.alignment_summary_metrics{% endset %}
  {% set alignment_summary_metrics_json %}{{ alignment_summary_metrics }}.json{% endset %}
  {% set insert_size_metrics %}{{ results_dir }}/{{ bam|basename }}.insert_size_metrics{% endset %}
  {% set insert_size_metrics_json %}{{ insert_size_metrics }}.json{% endset %}

- name: gatk_collectmultiplemetrics_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, quality_control, stats, gatk_CollectMultipleMetrics, {{ sample.name }}]
  methods: Alignment metrics, base distribution, insert size, quality,
    and other metrics for {{ sample.name }} ({{ aligner }}) were
    gathered with {{ constants.tools.gatk.verbose }}
    CollectMultipleMetrics.
  input: {{ bam }}
  output:
    - {{ results_dir }}/{{ bam|basename }}.alignment_summary_metrics
    - {{ results_dir }}/{{ bam|basename }}.bait_bias_detail_metrics
    - {{ results_dir }}/{{ bam|basename }}.bait_bias_summary_metrics
    - {{ results_dir }}/{{ bam|basename }}.base_distribution_by_cycle_metrics
    - {{ results_dir }}/{{ bam|basename }}.base_distribution_by_cycle.pdf
    - {{ results_dir }}/{{ bam|basename }}.error_summary_metrics
    - {{ results_dir }}/{{ bam|basename }}.gc_bias.detail_metrics
    - {{ results_dir }}/{{ bam|basename }}.gc_bias.pdf
    - {{ results_dir }}/{{ bam|basename }}.gc_bias.summary_metrics
    - {{ results_dir }}/{{ bam|basename }}.insert_size_metrics
    - {{ results_dir }}/{{ bam|basename }}.insert_size_histogram.pdf
    - {{ results_dir }}/{{ bam|basename }}.pre_adapter_detail_metrics
    - {{ results_dir }}/{{ bam|basename }}.pre_adapter_summary_metrics
    - {{ results_dir }}/{{ bam|basename }}.quality_by_cycle_metrics
    - {{ results_dir }}/{{ bam|basename }}.quality_by_cycle.pdf
    - {{ results_dir }}/{{ bam|basename }}.quality_distribution_metrics
    - {{ results_dir }}/{{ bam|basename }}.quality_distribution.pdf
    - {{ results_dir }}/{{ bam|basename }}.quality_yield_metrics
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.base_distribution_by_cycle_metrics
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.base_distribution_by_cycle.pdf
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.error_summary_metrics
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_by_cycle_metrics
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_by_cycle.pdf
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_distribution_metrics
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_distribution.pdf
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_yield_metrics
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.bam.gc_bias.pdf
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.insert_size_histogram.pdf
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  walltime: "24:00:00"
  cpus: 2
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}
    module load {{ constants.tools.R.module }}

    mkdir -p "{{ results_dir }}"

    gatk CollectMultipleMetrics \
      --java-options "-Xmx7G" \
      --INPUT "{{ bam }}" \
      --OUTPUT "{{ results_dir }}/{{ bam|basename }}" \
      {% if aligner == 'star' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      --METRIC_ACCUMULATION_LEVEL null \
      --METRIC_ACCUMULATION_LEVEL LIBRARY \
      --METRIC_ACCUMULATION_LEVEL SAMPLE \
      --PROGRAM null \
      --PROGRAM CollectAlignmentSummaryMetrics \
      --PROGRAM CollectBaseDistributionByCycle \
      --PROGRAM CollectInsertSizeMetrics \
      --PROGRAM MeanQualityByCycle \
      --PROGRAM QualityScoreDistribution \
      --PROGRAM CollectGcBiasMetrics \
      --PROGRAM CollectSequencingArtifactMetrics \
      --PROGRAM CollectQualityYieldMetrics

    {% if libraryCount == 1 %}
      cp {{ results_dir }}/{{ bam|basename }}.base_distribution_by_cycle_metrics {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.base_distribution_by_cycle_metrics
      cp {{ results_dir }}/{{ bam|basename }}.base_distribution_by_cycle.pdf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.base_distribution_by_cycle.pdf
      cp {{ results_dir }}/{{ bam|basename }}.error_summary_metrics {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.error_summary_metrics
      cp {{ results_dir }}/{{ bam|basename }}.quality_by_cycle_metrics {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_by_cycle_metrics
      cp {{ results_dir }}/{{ bam|basename }}.quality_by_cycle.pdf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_by_cycle.pdf
      cp {{ results_dir }}/{{ bam|basename }}.quality_distribution_metrics {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_distribution_metrics
      cp {{ results_dir }}/{{ bam|basename }}.quality_distribution.pdf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_distribution.pdf
      cp {{ results_dir }}/{{ bam|basename }}.quality_yield_metrics {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.quality_yield_metrics

      pdfseparate -f 2 {{ results_dir }}/{{ bam|basename }}.gc_bias.pdf {{ results_dir }}/{{ bam|basename }}.gc_bias%d.pdf
      mv {{ results_dir }}/{{ bam|basename }}.gc_bias2.pdf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.gc_bias.pdf

      pdfseparate -f 2 {{ results_dir }}/{{ bam|basename }}.insert_size_histogram.pdf {{ results_dir }}/{{ bam|basename }}.insert_size_histogram%d.pdf
      mv {{ results_dir }}/{{ bam|basename }}.insert_size_histogram2.pdf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.insert_size_histogram.pdf
    {% elif bam_level is sameas false %}
      pdfseparate -f 2 {{ results_dir }}/{{ bam|basename }}.gc_bias.pdf {{ results_dir }}/{{ bam|basename }}.gc_bias%d.pdf
      mv {{ results_dir }}/{{ bam|basename }}.gc_bias2.pdf {{ results_dir }}/{{ bam|basename }}.gc_bias.pdf

      pdfseparate -f 2 {{ results_dir }}/{{ bam|basename }}.insert_size_histogram.pdf {{ results_dir }}/{{ bam|basename }}.insert_size_histogram%d.pdf
      mv {{ results_dir }}/{{ bam|basename }}.insert_size_histogram2.pdf {{ results_dir }}/{{ bam|basename }}.insert_size_histogram.pdf
    {% endif %}

  {% if bam_level is sameas true %}
    {{ stats2json(sample, task, alignment_summary_metrics, alignment_summary_metrics_json, "picard_alignment_summary_metrics") }}
    {{ stats2json(sample, task, insert_size_metrics, insert_size_metrics_json, "picard_insert_size_metrics") }}
  {% endif %}

{% endif %}
{% endmacro %}


{% macro bam_qc_gatk_convertsequencingarrtifacttooxog(sample, taskPrefix=taskPrefix, aligner=aligner) %}
{% if tasks[taskPrefix+"_quality_control_stats_gatk_ConvertSequencingArtifactToOxoG"]|default(true) %}

  {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: gatk_convertsequencingarrtifacttooxog_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, quality_control, stats, gatk_ConvertSequencingArtifactToOxoG, {{ sample.name }}]
  input: {{ bam }}
  after: gatk_collectmultiplemetrics_{{ sample.name }}_{{ aligner }}
  output: {{ results_dir }}/{{ bam|basename }}.oxog_metrics
  walltime: "24:00:00"
  cpus: 8
  mem: 32G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}

    gatk ConvertSequencingArtifactToOxoG \
      {% if aligner == 'star' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      --INPUT_BASE "{{ results_dir }}/{{ bam|basename }}"

{% endif %}
{% endmacro %}


{% macro bam_qc_snpsniffer_geno(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) %}
{% if tasks[taskPrefix+"_quality_control_genotype_concordance_snpSniffer"]|default(true) %}

  {% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

  {% if bam_level is sameas false %}
    {% set task %}{{ sample.name }}_{{ sample_lb }}_{{ aligner }}{% endset %}
    {% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}_{{ sample_lb }}{% endset %}
    {% set bam %}{{ temp_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam{% endset %}
  {% else %}
    {% set task %}{{ sample.name }}_{{ aligner }}{% endset %}
    {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}

- name: snpsniffer_geno_{{ task }}
  tags: [{{ sample.gltype }}, quality_control, genotype_concordance, snpSniffer, {{ sample.name }}]
  input: {{ bam }}
  output:
    - {{ results_dir }}/{{ bam|basename }}.snpSniffer.vcf
    {% if libraryCount == 1 %}
    - {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.snpSniffer.vcf
    {% endif %}
  {% if bam_level is sameas false %}
  reset: predecessors
  {% endif %}
  cpus: 4
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.bcftools.module }}

    {# Genotype the 387 test positions across the genome, filter to calls with DP >= 5, sort, remove chr from contig names #}
    bcftools mpileup \
      --no-BAQ \
      --max-depth 5000 \
      --min-MQ 0 \
      --min-BQ 13 \
      {% if aligner == 'star' %}
      --fasta-ref "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --fasta-ref "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      --regions-file "{{ constants.phoenix.snpSniffer_sites }}" \
      {{ bam }} \
      | \
    bcftools call \
      --consensus-caller \
      --skip-variants indels \
      | \
    bcftools sort \
      | \
    bcftools annotate \
      --threads 2 \
      --include 'INFO/DP >= 5' \
      --rename-chrs "{{ constants.phoenix.bcftools_annotate_contig_update_ucsc2ensembl }}" \
      --output-type v \
      --output "{{ results_dir }}/{{ bam|basename }}.snpSniffer.vcf"

    {% if libraryCount == 1 %}
      cp {{ results_dir }}/{{ bam|basename }}.snpSniffer.vcf {{ results_dir }}/{{ sample.name }}_{{ sample_lb }}.{{ aligner }}.bam.snpSniffer.vcf
    {% endif %}

{% endif %}
{% endmacro %}
