# These macros are run on bams from the dna_alignment and the star_quant modules.
# A cram is made for each bam followed by running BAM qc steps with samtools and gatk.
# Currently supports any sample.

{% macro bam_qc_samtools_stats(sample, aligner='bwa') %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

{% for lb, rgs in sample.read_groups.values()|groupby('rglb') %}
- name: samtools_stats_{{ sample.name }}_{{ aligner }}_{{ lb }}
  tags: [samtools, stats, {{ sample.gltype }}]
  methods: Quality control metrics for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools_1_9.verbose }} stats.
  input: {{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "4:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ stats_dir }}"

    samtools view \
      --threads 4 \
      -h \
      {% for rg in rgs %}
      -r "{{ rg.rgid }}" \
      {% endfor %}
      "{{ bam_path }}" \
      | \
    samtools stats \
      --remove-dups \
      --remove-overlaps \
      {% if aligner == 'star' %}
      --reference "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --reference "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      > "{{ stats_dir }}/{{ bam_path|basename }}.{{ lb }}.bamstats.txt"
{% endfor %}

{% endmacro %}


{% macro bam_qc_samtools_flagstat(sample, aligner='bwa') %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: samtools_flagstat_{{ sample.name }}_{{ aligner }}
  tags: [samtools, flagstat, {{ sample.gltype }}]
  methods: Quality control metrics for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools_1_9.verbose }} flagstat.
  input: {{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "4:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ stats_dir }}"

    samtools flagstat \
      --threads 4 \
      "{{ bam_path }}" \
      > "{{ stats_dir }}/{{ bam_path|basename }}.flagstats.txt"

{% endmacro %}


{% macro bam_qc_samtools_idxstats(sample, aligner='bwa') %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: samtools_idxstats_{{ sample.name }}_{{ aligner }}
  tags: [samtools, idxstats, {{ sample.gltype }}]
  methods: Index stats for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools_1_9.verbose }} idxstats.
  input: {{ bam_path }}
  walltime: "4:00:00"
  cpus: 1
  mem: 2G
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ stats_dir }}"

    samtools idxstats \
      "{{ bam_path }}" >\
      "{{ stats_dir }}/{{ bam_path|basename }}.idxstats.txt"

{% endmacro %}


{% macro bam_qc_gatk_collectmultiplemetrics(sample, aligner='bwa') %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: gatk_collectmultiplemetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectmultiplemetrics, {{ sample.gltype }}]
  methods: Alignment metrics, base distribution, insert size, quality,
    and other metrics for {{ sample.name }} ({{ aligner }}) were
    gathered with {{ constants.tools.gatk_4_1_0_0.verbose }}
    CollectMultipleMetrics.
  input: {{ bam_path }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    gatk CollectMultipleMetrics \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}" \
      {% if aligner == 'star' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      --METRIC_ACCUMULATION_LEVEL null \
      --METRIC_ACCUMULATION_LEVEL LIBRARY \
      --METRIC_ACCUMULATION_LEVEL SAMPLE \
      --PROGRAM null \
      --PROGRAM CollectAlignmentSummaryMetrics \
      --PROGRAM CollectBaseDistributionByCycle \
      --PROGRAM CollectInsertSizeMetrics \
      --PROGRAM MeanQualityByCycle \
      --PROGRAM QualityScoreDistribution \
      --PROGRAM CollectGcBiasMetrics \
      --PROGRAM CollectSequencingArtifactMetrics \
      --PROGRAM CollectQualityYieldMetrics

{% endmacro %}


{% macro bam_qc_gatk_convertsequencingarrtifacttooxog(sample, aligner='bwa') %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: gatk_convertsequencingarrtifacttooxog_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, convertsequencingarrtifacttooxog, {{ sample.gltype }}]
  input: {{ bam_path }}
  after: gatk_collectmultiplemetrics_{{ sample.name }}_{{ aligner }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    gatk ConvertSequencingArtifactToOxoG \
      {% if aligner == 'star' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      --INPUT_BASE "{{ stats_dir }}/{{ bam_path|basename }}"

{% endmacro %}


{% macro bam_qc_snpsniffer_geno(sample, aligner='bwa') %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: snpsniffer_geno_{{ sample.name }}_{{ aligner }}
  tags: [snpSniffer, {{ sample.gltype }}]
  input: {{ bam_path }}
  cpus: 4
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    # Genotype the 387 test positions across the genome, filter to calls with DP >= 5
    bcftools mpileup \
      --no-BAQ \
      --max-depth 5000 \
      --min-MQ 0 \
      --min-BQ 13 \
      {% if aligner == 'star' %}
      --fasta-ref "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --fasta-ref "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      --targets-file "{{ constants.phoenix.snpSniffer_sites }}" \
      {{ bam_path }} \
      | \
    bcftools call \
      --consensus-caller \
      | \
    bcftools sort \
      --output-type v \
      --output-file "{{ stats_dir }}/{{ bam_path|basename }}.snpSniffer.vcf"

{% endmacro %}

