# Adds bam_to_cram, bam_qc and other quality control tasks

# Performed on all bams
{% from 'modules/qc/bam_qc_all.jst' import bam_qc_samtools_stats with context %}
{% from 'modules/qc/bam_qc_all.jst' import bam_qc_samtools_flagstat with context %}
{% from 'modules/qc/bam_qc_all.jst' import bam_qc_samtools_idxstats with context %}
{% from 'modules/qc/bam_qc_all.jst' import bam_qc_gatk_collectmultiplemetrics with context %}
{% from 'modules/qc/bam_qc_all.jst' import bam_qc_gatk_convertsequencingarrtifacttooxog with context %}
{% from 'modules/qc/bam_qc_all.jst' import bam_qc_snpsniffer_geno with context %}

# Performed on genomes
{% from 'modules/qc/bam_qc_genome.jst' import bam_qc_gatk_collectwgsmetrics with context %}
{% from 'modules/qc/bam_qc_genome.jst' import bam_qc_gatk_collectwgsmetricswithnonzerocoverage with context %}
{% from 'modules/qc/bam_qc_genome.jst' import bam_qc_gatk_collectrawwgsmetrics with context %}

# Performed on exomes
{% from 'modules/qc/bam_qc_exome.jst' import bam_qc_gatk_collecthsmetrics with context %}

# Performed on rna
{% from 'modules/qc/bam_qc_rna.jst' import bam_qc_gatk_collectrnaseqmetrics with context %}
{% from 'modules/qc/bam_qc_rna.jst' import bam_qc_rna_BTcell_loci with context %}

# Performed on constitutional dna
{% from 'modules/qc/bam_qc_constitutional_dna.jst' import bam_qc_verifybamid2 with context %}
{% from 'modules/qc/bam_qc_constitutional_dna.jst' import sex_check with context %}

{% macro bam_qc(sample, aligner='bwa') %}

    {# General Library type specific tasks #}
    {% if sample.gltype == 'rna' %}
        {% set taskPrefix = 'RNA' %}

        {% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectRnaSeqMetrics"]|default(true) %}
            {{- bam_qc_gatk_collectrnaseqmetrics(sample, aligner=aligner) }}
        {% endif %}

        {% if tasks[taskPrefix+"_quality_control_stats_samtools_bedcov"]|default(true) %}
            {{- bam_qc_rna_BTcell_loci(sample, aligner=aligner) }}
        {% endif %}

    {% elif sample.gltype == 'exome' %}
        {% set taskPrefix = 'Exome' %}

        {% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectHsMetrics"]|default(true) %}
            {{- bam_qc_gatk_collecthsmetrics(sample, aligner=aligner) }}
        {% endif %}

    {% elif sample.gltype == 'genome' %}
        {% set taskPrefix = 'Genome' %}

        {% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectWgsMetrics"]|default(true) %}
            {{- bam_qc_gatk_collectwgsmetrics(sample, aligner=aligner) }}
        {% endif %}

        {% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectWgsMetricsWithNonZeroCoverage"]|default(true) %}
            {{- bam_qc_gatk_collectwgsmetricswithnonzerocoverage(sample, aligner=aligner) }}
        {% endif %}

        {% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectRawWgsMetrics"]|default(true) %}
            {{- bam_qc_gatk_collectrawwgsmetrics(sample, aligner=aligner) }}
        {% endif %}

    {% endif %}

    {# Cnstitutional dna specific tasks #}
    {% if sample.subGroup|lower == 'constitutional' and ( sample.gltype|lower == 'genome' or sample.gltype|lower == 'exome' )  %}
        {% if tasks[taskPrefix+"_quality_control_constitutional_contamination_check_VerifyBamID"]|default(true) %}
           {{- bam_qc_verifybamid2(sample, aligner=aligner) }}
        {% endif %}

        {% if tasks[taskPrefix+"_quality_control_constitutional_sex_check_freebayes"]|default(true) %}
           {{- sex_check(sample, aligner=aligner) }}
        {% endif %}

     {% endif %}

    {# Tasks performed on all bams #}
    {% if tasks[taskPrefix+"_quality_control_stats_samtools_stats"]|default(true) %}
        {{- bam_qc_samtools_stats(sample, aligner=aligner) }}
    {% endif %}

    {% if tasks[taskPrefix+"_quality_control_stats_samtools_flagstat"]|default(true) %}
        {{- bam_qc_samtools_flagstat(sample, aligner=aligner) }}
    {% endif %}

    {% if tasks[taskPrefix+"_quality_control_stats_samtools_idxstats"]|default(true) %}
        {{- bam_qc_samtools_idxstats(sample, aligner=aligner) }}
    {% endif %}

    {% if tasks[taskPrefix+"_quality_control_stats_gatk_CollectMultipleMetrics"]|default(true) %}
        {{- bam_qc_gatk_collectmultiplemetrics(sample, aligner=aligner) }}
    {% endif %}

    {% if tasks[taskPrefix+"_quality_control_stats_gatk_ConvertSequencingArtifactToOxoG"]|default(true) %}
        {{- bam_qc_gatk_convertsequencingarrtifacttooxog(sample, aligner=aligner) }}
    {% endif %}

    {%- if tasks[taskPrefix+"_quality_control_genotype_concordance_snpSniffer"]|default(true) %}
        {{- bam_qc_snpsniffer_geno(sample, aligner=aligner) }}
    {% endif -%}

{% endmacro %}

