{% macro peddy(sample, aligner = "bwa") %}

{% set bam %}{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set temp %}temp/{{ sample.gltype }}/qc/peddy/{{ sample.name }}{% endset %}
{% set outdir %}{{ sample.gltype }}/qc/peddy/{{ sample.name }}{% endset %}

- name: freebayes_qc_{{ sample.name }}_{{ aligner }}
  input: {{ bam }}
  cpus: 4
  cmd: |
    set -uev
    module load {{ constants.tools.freebayes_1_2.module }}

    mkdir -p "{{ temp }}"

    freebayes \
      -p 4 \
      -f "{{ constants.phoenix.reference_fasta }}" \
      -t /home/qzhu/toolkit/hg38.bed \
      "{{ bam }}" \
      > "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf"


- name: bcftools_sort_index_freebayes_qc_{{ sample.name }}_{{ aligner }}
  after: freebayes_qc_{{ sample.name }}_{{ aligner }}
  output: 
    - {{ outdir }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf.gz
    - {{ outdir }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf.gz.tbi
  cmd: |
    set -v
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ outdir }}"

    bcftools sort \
      -O z \
      "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf" \
      > "{{ outdir }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf.gz"

    bcftools index -tf "{{ outdir }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf.gz"


- name: peddy_{{ sample.name }}_{{ aligner }}
  after:  bcftools_sort_index_freebayes_qc_{{ sample.name }}_{{ aligner }}
  cmd: |
    set -vue
    module load {{ constants.tools.peddy_0_4_3.module }}

    mkdir -p "{{ outdir }}"

    TAB=$'\t'
    cat <<EOF > "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.ped"
    {{ familyCode|default("0") }}${TAB}{{ sample.rgsm|default(sample.name) }}${TAB}0${TAB}0${TAB}{{ sex|default('-9') }}${TAB}-9
    EOF

    peddy \
      --sites hg38 \
      --prefix "{{ outdir }}/{{ sample.name }}" \
      "{{ outdir }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf.gz" \
      "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.ped"


{% endmacro %}

{% macro peddy_cohort(samples) %}
{% set outdir %}qc/peddy/{{ project }}{% endset %}

- name: peddy_cohort
  after-re: bcftools_sort_index_freebayes_qc_.*
  cmd: |
    set -vue
    module load {{ constants.tools.peddy_0_4_3.module }}
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ outdir }}"

    TAB=$'\t'
    cat <<EOF > "temp/{{ project }}_freebayes_qc.ped"
    {% for sample in samples.values() %}
    {{ familyCode|default("0") }}${TAB}{{ sample.rgsm|default(sample.name) }}${TAB}0${TAB}0${TAB}{{ sex|default('-9') }}${TAB}-9
    {% endfor %}
    EOF

    VCFS=$(find . -name "*_freebayes_qc.vcf.gz")

    bcftools merge --missing-to-ref -O z -o "{{ outdir }}/{{ project }}.qc.vcf.gz" ${VCFS}
    bcftools index -tf "{{ outdir }}/{{ project }}.qc.vcf.gz"

    peddy \
      --sites hg38 \
      --prefix "{{ outdir }}/{{ project }}" \
      "{{ outdir }}/{{ project }}.qc.vcf.gz" \
      "temp/{{ project }}_freebayes_qc.ped"

{% endmacro %}
