{% macro peddy(sample, aligner = "bwa") %}

{% set temp %}temp/{{ sample.gltype }}/qc/peddy/{{ sample.name }}{% endset %}
{% set bam %}{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set outdir %}{{ sample.gltype }}/qc/peddy/{{ sample.name }}/{{ sample.name }}{% endset %}

- name: freebayes_qc_{{ sample.name }}_{{ aligner }}
  input: {{ bam }}
  cpus: 4
  cmd: |
    set -uev
    module load {{ constants.tools.freebayes_1_2.module }}

    mkdir -p "{{ temp }}"

    freebayes \
      -p 4 \
      -f "{{ constants.phoenix.reference_fasta }}" \
      -@ /home/qzhu/toolkit/hg38.vcf \
      "{{ bam }}" \
      > "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf"


- name: bcftools_sort_index_freebayes_qc_{{ sample.name }}_{{ aligner }}
  after: freebayes_qc_{{ sample.name }}_{{ aligner }}
  cmd: |
    set -v
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools sort \
      -O z \
      "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.vcf" \
      > "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.sort.vcf.gz"

    bcftools index -tf "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.sort.vcf.gz"


- name: peddy_{{ sample.name }}_{{ aligner }}
  after:  bcftools_sort_index_freebayes_qc_{{ sample.name }}_{{ aligner }}
  cmd: |
    set -vue
    module load {{ constants.tools.peddy_0_4_3.module }}

    mkdir -p "{{ outdir }}"

    TAB=$'\t'
    cat <<EOF > "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.ped"
    {{ familyCode|default("0") }}${TAB}{{ sample.rgsm|default(sample.name) }}${TAB}0${TAB}0${TAB}{{ sex|default('-9') }}${TAB}-9
    EOF

    peddy \
      --sites hg38 \
      --prefix "{{ outdir }}" \
      "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.sort.vcf.gz" \
      "{{ temp }}/{{ sample.name }}_{{ aligner }}_freebayes_qc.ped"


{% endmacro %}