# Call germline variants with haplotype caller. In order to call 
# variants, this step must be followed with genotype gvcfs task.

{% macro haplotypecaller(sample_name, sample, aligner='bwa') %}
{% for batch in constants.phoenix.intervals_batched %}
- name: haplotypecaller_gvcf_{{ sample_name }}_{{ aligner }}_{{ loop.index }}
  input: results/{{ sample.glType }}/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.bam
  walltime: "24:00:00"
  cpus: 4
  cmd: |
    #!/bin/bash
    set -euv
    module load {{ constants.tools.gatk_4_0_1_2.module }}

    mkdir -p "temp/{{ sample_name }}_{{ aligner }}_hc_gvcf_chunks/"

    gatk HaplotypeCaller  \
      -ERC GVCF \
      --java-options "-Xmx4g" \
      -R {{ constants.phoenix.reference_fasta_path }} \
      -I "results/{{ sample.glType }}/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.bam" \
      {% for interval in batch %}
      -L "{{ interval.contig }}:{{ interval.start }}-{{ interval.stop }}" \
      {% endfor %}
      -O "temp/{{ sample_name }}_{{ aligner }}_hc_gvcf_chunks/{{ loop.index }}.g.vcf.gz"

{% endfor %}


- name: haplotypecaller_gvcf_merge_{{ sample_name }}_{{ aligner }}
  after: haplotypecaller_gvcf_{{ sample_name }}_{{ aligner }}_.*
  output: results/{{ sample.glType }}/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.hc.g.vcf
  walltime: "24:00:00"
  cpus: 4
  cmd: |
    #!/bin/bash
    set -eu
    module load {{ constants.tools.gatk_4_0_1_2.module }}

    gatk MergeVcfs \
      {% for batch in constants.phoenix.intervals_batched %}
      --INPUT "temp/{{ sample_name }}_{{ aligner }}_hc_gvcf_chunks/{{ loop.index }}.g.vcf.gz" \
      {% endfor %}
      --OUTPUT "results/{{ sample.glType }}/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.hc.g.vcf"

    rm -r "temp/{{ sample_name }}_{{ aligner }}_hc_gvcf_chunks/"

{% endmacro %}

