{% macro lancet(pair, aligner='bwa') %}
- name: lancet_{{ pair.name }}_{{ aligner }}
  tags: [lancet, {{ pair.name }}]
  input:
    - {{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam
    - {{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam
  output:
    - {{ pair.tumor.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.vcf
  cpus: 20
  walltime: "24:00:00"
  cmd: |
    set -uev

    module load {{ constants.tools.lancet_1_0_7.module }}
    mkdir -p "{{ pair.tumor.glType }}/{{ pair.name }}_{{ aligner }}/lancet/"

    # Do we need to batch this process with intervals: --bed target_1.bed?
    lancet \
      --num-threads 20 \
      --ref "{{ constants.phoenix.reference_fasta_path }}" \
      --normal "{{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam" \
      --tumor "{{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam" \
      > "{{ pair.tumor.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.vcf"

{% endmacro %}
