# Call somatic variants on pairs with Mutect2, also filters the results
# and annotates the VCF with SnpEff
{% from 'modules/snpeff.jst' import snpeff with context %}

{% macro mutect2(pair, aligner='bwa') %}
{% do pair.callers.append('mutect2') %}

{% for batch in constants.phoenix.calling_intervals %}
- name: mutect2_{{ pair.name }}_{{ aligner }}_{{ loop.index }}
  tags: [gatk, gatk-Mutect2, {{ pair.glType }}]
  input:
    - {{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam
    - {{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam
  cpus: 4
  mem: 16G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/"

    gatk Mutect2 \
      --java-options "-Xmx14G" \
      --tmp-dir temp/ \
      --reference {{ constants.phoenix.reference_fasta }} \
      --input "{{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam" \
      --normal-sample "{{ pair.normal.rgsm }}" \
      --input "{{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam" \
      --tumor-sample "{{ pair.tumor.rgsm }}" \
      {% for interval in batch %}
      -L "{{ interval.contig }}:{{ interval.start }}-{{ interval.stop }}" \
      {% endfor %}
      --output "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.mutect2.vcf.gz"

{% endfor %}


- name: mutect2_merge_chunks_{{ pair.name }}_{{ aligner }}
  tags: [bcftools, concat, {{ pair.glType }}]
  methods: Somatic variant calls for {{ pair.name }} were called with
    {{ constants.tools.gatk_4_1_0_0.verbose }} Mutect2 in parallel chunks and
    then merged together with {{ constants.tools.samtools_1_9.verbose }} concat.
  after: 
    re: mutect2_{{ pair.name }}_{{ aligner }}_.*
  cpus: 4
  mem: 16G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/"

    bcftools concat \
      -O z \
      -o "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.vcf.gz" \
      {% for b in constants.phoenix.calling_intervals %}
      "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.mutect2.vcf.gz" \
      {% endfor %}

    {% if not debug %}
    rm -r "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/"
    {% endif %}


- name: mutect2_filter_calls_{{ pair.name }}_{{ aligner }}
  tags: [gatk, gatk-FilterMutectCalls, {{ pair.glType }}]
  after: mutect2_merge_chunks_{{ pair.name }}_{{ aligner }}
  output:
    - {{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.all.vcf.gz
  cpus: 8
  mem: 32G
  walltime: "24:00:00"
  cmd: |
    set -uev 
    module load {{ constants.tools.gatk_4_1_0_0.module }}
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools index -t "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.vcf.gz"

    gatk FilterMutectCalls \
      --java-options "-Xmx28G" \
      {% if pair.glType|lower == 'genome' %}
      --strict-strand-bias true \
      {% endif %}
      --max-alt-allele-count 2 \
      --variant "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.vcf.gz" \
      --output "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.all.vcf.gz" \
      --stats "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.stats.tsv"


- name: mutect2_filter_variants_{{ pair.name }}_{{ aligner }}
  tags: [bcftools, filter, {{ pair.glType }}]
  input: 
    - {{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.all.vcf.gz
  output:
    - {{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.pass.vcf.gz
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools index -t "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.all.vcf.gz"
    
    bcftools filter \
      -O z \
      -i 'FILTER == "PASS"' \
      {% if pair.glType|lower == 'exome' %}
      --regions-file "{{ pair.normal.capture_kit.extended_bed }}" \
      {% endif %}
      "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.all.vcf.gz" \
      > "{{ pair.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.mutect2.pass.vcf.gz"


{% endmacro %}
