{% macro mutect2(pair, aligner='bwa') %}
{% for batch in constants.phoenix.intervals_batched %}
- name: mutect2_{{ pair.name }}_{{ aligner }}_{{ loop.index }}
  input:
    - {{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam
    - {{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam
  cpus: 4
  walltime: "24:00:00"
  cmd: |
    set -eu
    module load {{ constants.tools.gatk_4_0_7_0.module }}

    mkdir -p "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/"

    gatk Mutect2 \
      --TMP_DIR temp/ \
      -R {{ constants.phoenix.reference_fasta_path }} \
      -I "{{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam" \
      -normal "{{ pair.normal.rgsm }}" \
      -I "{{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam" \
      -tumor "{{ pair.tumor.rgsm }}" \
      {% for interval in batch %}
      -L "{{ interval.contig }}:{{ interval.start }}-{{ interval.stop }}" \
      {% endfor %}
      -O "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.vcf.gz"

{% endfor %}


- name: mutect2_merge_chunks_{{ pair.name }}_{{ aligner }}
  methods: Somatic variant calls for {{ pair.name }} were called with
    {{ constants.tools.gatk_4_0_7_0.verbose }} Mutect2 in parallel chunks and
    then merged together with MergeVcfs.
  after: 
    re: mutect2_{{ pair.name }}_{{ aligner }}_.*
  output: {{ pair.tumor.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.vcf.gz
  cpus: 2
  walltime: "24:00:00"
  cmd: |
    set -eu
    module load {{ constants.tools.gatk_4_0_7_0.module }}

    mkdir -p "{{ pair.tumor.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/"

    gatk MergeVcfs \
      {% for b in constants.phoenix.intervals_batched %}
      --INPUT "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.vcf.gz" \
      {% endfor %}
      --OUTPUT "{{ pair.tumor.glType }}/somatic_variant_calls/mutect2/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.vcf.gz"

    {% if not debug %}
    rm -r "temp/{{ pair.name }}_{{ aligner }}_mutect2_chunks/"
    {% endif %}

{% endmacro %}
