# Run 10X Cell Ranger VDJ assembly pipeline

{% macro cellranger_vdj(files) %}
{% set libraries = files|groupby('rglb') %}

{% for library, datafiles in libraries %}
{% set sample = datafiles[0] %}
{% set assaycode = sample.assayCode|default('unknown') %}
{% set outdir %}{{ sample.gltype }}/cellranger/{{ sample.name }}_{{ library }}/{% endset %}
{% set temp_dir %}temp/cellranger/{{ sample.name }}/{{ library }}/fastqs/{% endset %}

{% set samples_list = [] %}
{% for rgpu, _ in files|groupby('rgpu') %}
  {% set sample_string %}{{ sample.name }}_{{ library }}_{{ rgpu[:-2] }}{% endset %}
  {% do samples_list.append(sample_string) %}
{% endfor %}

{{ log('Cellranger library: {} assay: {}'.format(library, assaycode), 'CRITICAL') }}

- name: cellranger_vdj_{{ sample.name }}_{{ library }}
  tags: [{{ sample.gltype }}, single_cell, cellranger_count, {{ sample.name }}]
  methods: >
    T-cell and B-cell VDJ assembly for {{ sample.name }} was performed with
    {{ constants.tools.cellranger_3_1_0.verbose }} using the included refernce package.
  input:
  {% for fq in datafiles %}
   - temp/fastqs/{{ fq.basename }}
  {% endfor %}
  output: {{ sample.gltype }}/cellranger/{{ sample.name }}_{{ library }}/
  cpus: 20
  mem: 80G
  walltime: "48:00:00"
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.cellranger_3_1_0.module }}

    rm -r "{{ temp_dir }}" || true
    mkdir -p "{{ temp_dir }}"
    mkdir -p "{{ outdir }}"

    {% for file in datafiles %}
    ln -rs "temp/fastqs/{{ file.basename }}" "{{ temp_dir }}/{{ file.basename }}"
    {% endfor %}

    {#
    # Cell Ranger recommended settings online are at least 8 cores and 6Gb of RAM per core
    # We are using 16 cores and therefore a 96Gb RAM pool is recommended
    #}
    (cd "{{ temp_dir }}" && cellranger vdj \
        --localcores 20 \
        --localmem 80 \
        --id "{{ sample.name }}_{{ library }}" \
        --fastqs . \
        --reference "{{ constants.phoenix.cellranger_vdj_reference }}" \
        --sample "{{ samples_list|join(',') }}"
    # Renaming all output files, could be cleaned up a bit using 'rename' commands, might only remove one line or so
    {% set cellranger_out %}{{ temp_dir }}{{ sample.name }}_{{ library }}/outs{% endset %}
    mv {{ cellranger_out }}/all_contig_annotations.bed {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig_annotations.bed
    mv {{ cellranger_out }}/all_contig_annotations.csv {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig_annotations.csv

    mv {{ cellranger_out }}/all_contig_annotations.json {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig_annotations.json
    mv {{ cellranger_out }}/all_contig.bam {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig.bam
    mv {{ cellranger_out }}/all_contig.bam.bai {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig.bam.bai
    mv {{ cellranger_out }}/all_contig.fasta {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig.fasta
    mv {{ cellranger_out }}/all_contig.fasta.fai {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig.fasta.fai
    mv {{ cellranger_out }}/all_contig.fastq {{ cellranger_out }}/{{ sample.name }}_{{ library }}_all_contig.fastq
    mv {{ cellranger_out }}/cell_barcodes.json {{ cellranger_out }}/{{ sample.name }}_{{ library }}_cell_barcodes.json
    mv {{ cellranger_out }}/clonotypes.csv {{ cellranger_out }}/{{ sample.name }}_{{ library }}_clonotypes.csv
    mv {{ cellranger_out }}/concat_ref.bam {{ cellranger_out }}/{{ sample.name }}_{{ library }}_concat_ref.bam
    mv {{ cellranger_out }}/concat_ref.bam.bai {{ cellranger_out }}/{{ sample.name }}_{{ library }}_concat_ref.bam.bai
    mv {{ cellranger_out }}/concat_ref.fasta {{ cellranger_out }}/{{ sample.name }}_{{ library }}_concat_ref.fasta
    mv {{ cellranger_out }}/concat_ref.fasta.fai {{ cellranger_out }}/{{ sample.name }}_{{ library }}_concat_ref.fasta.fai
    mv {{ cellranger_out }}/consensus_annotations.csv {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus_annotations.csv
    mv {{ cellranger_out }}/consensus_annotations.json {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus_annotations.json
    mv {{ cellranger_out }}/consensus.bam {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus.bam
    mv {{ cellranger_out }}/consensus.bam.bai {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus.bam.bai
    mv {{ cellranger_out }}/consensus.fasta {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus.fasta
    mv {{ cellranger_out }}/consensus.fasta.fai {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus.fasta.fai
    mv {{ cellranger_out }}/consensus.fastq {{ cellranger_out }}/{{ sample.name }}_{{ library }}_consensus.fastq
    mv {{ cellranger_out }}/filtered_contig_annotations.csv {{ cellranger_out }}/{{ sample.name }}_{{ library }}_filtered_contig_annotations.csv
    mv {{ cellranger_out }}/filtered_contig.fasta {{ cellranger_out }}/{{ sample.name }}_{{ library }}_filtered_contig.fasta
    mv {{ cellranger_out }}/filtered_contig.fastq {{ cellranger_out }}/{{ sample.name }}_{{ library }}_filtered_contig.fastq
    mv {{ cellranger_out }}/metrics_summary.csv {{ cellranger_out }}/{{ sample.name }}_{{ library }}_metrics_summary.csv
    mv {{ cellranger_out }}/vloupe.vloupe {{ cellranger_out }}/{{ sample.name }}_{{ library }}.vloupe
    mv {{ cellranger_out }}/web_summary.html {{ cellranger_out }}/{{ sample.name }}_{{ library }}_web_summary.html

    {# move everything to the output directory #}
    mv {{ cellranger_out }}/* {{ outdir }}

{% endfor %}
{% endmacro %}
