# Run 10X Cell Ranger pipeline
{% macro cellranger_10x(files) %}

{% set outdir %}{{ sample.gltype }}/quant/starSOLO/{{ sample.name }}/{% endset %}
{% set libraries = files|groupby('name') %}

- name: cellranger_count_{{ sample.name }}
  methods: >
    Transcript quantification for {{ sample.name }} was performed with
    {{ constants.tools.cellranger_3_0_2.verbose }} using the cDNA index.
  output: {{ sample.gltype }}/quant/cellranger/{{ sample.name }}/
  cpus: 12
  mem: 48
  walltime: "24:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.cellranger_3_0_2.verbose }}

    mkdir -p "{{ sample.gltype }}/quant/cellranger/{{ sample.name }}/"

    {
      'X3SCR': 'SC3Pv1',
      'XCSCR': 'SC3Pv2',
      'X3SC3': 'SC3Pv3',
      'X5SCR': 'SC5P-R2',
      None: 'auto'
    }

    cellranger count \
      --id=  \
      --fastqs= \
      --libraries= \
      --sample={{ sample.name }} \
      --transcriptome="{{ constants.phoenix.reference_CellRanger }}" \
      --chemistry= \
      --lanes= \
      --localcores=12 \
      --localmem=48 \
      --output "{{ sample.gltype }}/quant/cellranger/{{ sample.name }}/"


{% endmacro %}

