{% from 'utilities/remove_files.jst' import remove_files with context %}
{% from 'modules/qc/stats2json.jst' import stats2json with context %}
{% from 'modules/qc/main.jst' import bam_qc with context %}
{% from 'utilities/bam_to_cram.jst' import bam_to_cram with context %}

# Run 10X Cell Ranger Count pipeline

{% macro cellranger_count(files) %}

  {% set sample = files[0] %}
  {% set assaycode = sample.assayCode|default('unknown') %}
  {% set chemistry = constants.phoenix.scrna_chemistry_options[sample.assayCode].chemistry_name %}

  {% set alignment_outdir %}{{ sample.gltype }}/alignment/cellranger_count/{{ sample.name }}{% endset %}
  {% set outdir %}{{ sample.gltype }}/expression_estimates/cellranger_count/{{ sample.name }}{% endset %}
  {% set metrics_output %}{{ alignment_outdir }}/stats/{{ sample.name }}.cellranger_count.bam.metrics_summary.csv{% endset %}
  {% set json %}{{ alignment_outdir }}/stats/{{ sample.name }}.cellranger_count.bam.metrics_summary.json{% endset %}
  {% set temp_dir %}temp/{{ sample.gltype }}/expression_estimates/cellranger_count/{{ sample.name }}{% endset %}
  {% set cellranger_out %}{{ temp_dir }}/{{ sample.name }}/outs{% endset %}
  {% set task %}cellranger_count_{{ sample.name }}{% endset %}
  {% set directory %}{{ cellranger_out }}/analysis{% endset %}

  {% set samples_list = [] %}
  {% for rgpu, _ in files|groupby('rgpu') %}
    {% set sample_string %}{{ sample.name }}_{{ rgpu[:-2] }}{% endset %}
    {% do samples_list.append(sample_string) %}
  {% endfor %}

- name: cellranger_count_{{ sample.name }}
  tags: [{{ sample.gltype }}, single_cell, cellranger_count, {{ sample.name }}]
  methods: >
    Transcript quantification for {{ sample.name }} was performed with
    {{ constants.tools.cellranger.verbose }} using the cDNA index.
  reset: predecessors
  input:
  {% for fq in files %}
   - temp/fastqs/{{ fq.basename }}
  {% endfor %}
  output:
    - {{ alignment_outdir }}/{{ sample.name }}.cellranger_count.bam
    - {{ alignment_outdir }}/{{ sample.name }}.cellranger_count.bam.bai
    - {{ metrics_output }}
    - {{ outdir }}/{{ sample.name }}.cellranger_count.cloupe
    - {{ outdir }}/{{ sample.name }}.cellranger_count.filtered_feature_bc_matrix.h5
    - {{ outdir }}/{{ sample.name }}.cellranger_count.molecule_info.h5
    - {{ outdir }}/{{ sample.name }}.cellranger_count.raw_feature_bc_matrix.h5
    - {{ outdir }}/{{ sample.name }}.cellranger_count.web_summary.html
  cpus: 20
  mem: 160G
  walltime: "48:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.cellranger.module }}
    module load {{ constants.tools.samtools.module }}

    rm -r "{{ temp_dir }}" || true
    mkdir -p "{{ temp_dir }}"
    mkdir -p "{{ outdir }}"
    mkdir -p "{{ alignment_outdir }}/stats"
    
    {% for fq in files %}
    ln -rs "temp/fastqs/{{ fq.basename }}" "{{ temp_dir }}/{{ fq.basename }}"
    {% endfor %}

    {#
    # Cell Ranger recommended settings online are at least 8 cores and 6Gb of RAM per core
    # We are using 20 cores and therefore a 120Gb RAM pool is recommended
    #}
    ( cd {{ temp_dir }} && cellranger count \
      --localcores 20 \
      --localmem 160 \
      --chemistry "{{ constants.phoenix.scrna_chemistry_options[sample.assayCode].chemistry_name }}" \
      --id "{{ sample.name }}" \
      --fastqs . \
      --sample "{{ samples_list|join(',') }}" \
      --transcriptome "{{ constants.phoenix.cellranger_reference }}" )

    {# cellranger defaults to an LB of 0.1, we fix that here since we know the LB #}
    samtools view -H {{ cellranger_out }}/possorted_genome_bam.bam |\
    sed -e 's/\bLB:[^ ]*/LB:{{ sample.rglb }}/g' |\
    samtools reheader - {{ cellranger_out }}/possorted_genome_bam.bam > {{ alignment_outdir }}/{{ sample.name }}.cellranger_count.bam

    samtools index -@ 10 {{ alignment_outdir }}/{{ sample.name }}.cellranger_count.bam

    mv {{ cellranger_out }}/web_summary.html {{ alignment_outdir }}/stats/{{ sample.name }}.cellranger_count.bam.web_summary.html
    mv {{ cellranger_out }}/metrics_summary.csv {{ metrics_output }}
    mv {{ cellranger_out }}/cloupe.cloupe {{ outdir }}/{{ sample.name }}.cellranger_count.cloupe
    mv {{ cellranger_out }}/filtered_feature_bc_matrix.h5 {{ outdir }}/{{ sample.name }}.cellranger_count.filtered_feature_bc_matrix.h5
    mv {{ cellranger_out }}/molecule_info.h5 {{ outdir }}/{{ sample.name }}.cellranger_count.molecule_info.h5
    mv {{ cellranger_out }}/raw_feature_bc_matrix.h5 {{ outdir }}/{{ sample.name }}.cellranger_count.raw_feature_bc_matrix.h5

  {# removing the analysis directory as is it no longer needed #}
  {{- remove_files(directory, none, task) }}

    {# move everything to the output directory #}
    mv {{ cellranger_out }}/* {{ outdir }}/


  {{- bam_to_cram(sample, aligner='cellranger_count') }}

  {{- bam_qc(sample, aligner='cellranger_count') }}

  {{- stats2json(sample.gltype, sample.name, task, metrics_output, json, "cellranger_metrics", sample_name=sample.name, library_name=sample.rglb) }}

{% endmacro %}
