{% from 'modules/single_cell/cellranger_10x.jst' import cellranger_10x with context %}

{% macro single_cell_rna(dataFiles) %}
    {% for sample, files in dataFiles|groupby('name') if files[0].gltype == 'singlecellrna' %}
        {{- cellranger_10x(files) }}
    {% endfor %}
{% endmacro %}
