{% from 'modules/single_cell/cellranger_10x.jst' import cellranger_10x with context %}
{#  {% from 'modules/single_cell/starsolo.jst' import starsolo with context %}#}

{% macro single_cell_rna(dataFiles) %}
    {% for sample, files in dataFiles|groupby('name') if files[0].gltype == 'singlecellrna' %}
        {% if tasks["SingleCellRNA_transcriptome_quantify_expression_cellranger_count"]|default(true) %}
            {{- cellranger_10x(files) }}
        {% endif %}
        {#
        {% if tasks["SingleCellRNA_transcriptome_quantify_expression_STARsolo"]|default(true) %}
            {{- starsolo(files) }}
        {% endif %}
        #}
    {% endfor %}
{% endmacro %}
