# This macro adds tasks for running BAM qc steps with samtools and gatk.
# Currently supports any sample but with special tasks added when the sample
# glTypes is 'genome' or 'exome'
{% macro bam_qc(sample, aligner='bwa') %}
{% set bam_path = "{gltype}/alignment/{aligner}/{name}/{name}.{aligner}.bam" %}
{% set bam_path = bam_path.format(gltype=sample.glType, name=sample.name, aligner=aligner) %}
{% set stats_dir = "{gltype}/alignment/{aligner}/{name}/stats/" %}
{% set stats_dir = stats_dir.format(gltype=sample.glType, name=sample.name, aligner=aligner) %}

- name: samtools_stats_{{ sample.name }}_{{ aligner }}
  tags: [samtools, stats, {{ sample.name }}]
  methods: Quality control metrics for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools_1_9.verbose }} stats.
  input: {{ sample.glType}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "4:00:00"
  cpus: 2
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ stats_dir }}"

    samtools stats \
      --threads 2 \
      --remove-dups \
      --remove-overlaps \
      --ref-seq "{{ constants.phoenix.reference_fasta }}" \
      "{{ bam_path }}" >\
      "{{ stats_dir }}/{{ bam_path|basename }}.bamstats.txt"


- name: samtools_flagstat_{{ sample.name }}_{{ aligner }}
  tags: [samtools, flagstat, {{ sample.name }}]
  methods: Quality control metrics for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools_1_9.verbose }} flagstat.
  input: {{ sample.glType}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "4:00:00"
  cpus: 8
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ stats_dir }}"

    samtools flagstat \
      --threads 8 \
      "{{ bam_path }}" >\
      "{{ stats_dir }}/{{ bam_path|basename }}.flagstats.txt"


- name: samtools_idxstats_{{ sample.name }}_{{ aligner }}
  tags: [samtools, idxstats, {{ sample.name }}]
  methods: Index stats for {{ sample.name }} ({{ aligner }}) were
    generated with {{ constants.tools.samtools_1_9.verbose }} idxstats.
  input: {{ bam_path }}
  walltime: "4:00:00"
  cpus: 1
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ stats_dir }}"

    samtools index "{{ bam_path }}"
    samtools idxstats \
      "{{ bam_path }}" >\
      "{{ stats_dir }}/{{ bam_path|basename }}.idxstats.txt"



- name: gatk_collectmultiplemetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectmultiplemetrics, {{ sample.name}}]
  methods: Alignment metrics, base distribution, insert size, quality,
    and other metrics for {{ sample.name }} ({{ aligner }}) were
    gathered with {{ constants.tools.gatk_4_1_0_0.verbose }}
    CollectMultipleMetrics.
  input: {{ bam_path }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"
    
    gatk CollectMultipleMetrics \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}" \
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      --METRIC_ACCUMULATION_LEVEL null \
      --METRIC_ACCUMULATION_LEVEL LIBRARY \
      --METRIC_ACCUMULATION_LEVEL SAMPLE \
      --PROGRAM null \
      --PROGRAM CollectAlignmentSummaryMetrics \
      --PROGRAM CollectBaseDistributionByCycle \
      --PROGRAM CollectInsertSizeMetrics \
      --PROGRAM MeanQualityByCycle \
      --PROGRAM QualityScoreDistribution \
      --PROGRAM CollectGcBiasMetrics \
      --PROGRAM CollectSequencingArtifactMetrics \
      --PROGRAM CollectQualityYieldMetrics


- name: gatk_convertsequencingarrtifacttooxog_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, convertsequencingarrtifacttooxog, {{ sample.name}}]
  input: {{ bam_path }}
  after: gatk_collectmultiplemetrics_{{ sample.name }}_{{ aligner }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    gatk ConvertSequencingArtifactToOxoG \
      -I "{{ stats_dir }}/{{ bam_path|basename }}" \
      -R "{{ constants.phoenix.reference_fasta }}"


{% if sample.glType|lower == 'genome' %}
- name: gatk_collectwgsmetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectwgsmetrics, {{ sample.name}}]
  input: {{ bam_path }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    gatk CollectWgsMetrics \
      --USE_FAST_ALGORITHM true \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}.wgs_metrics.txt" \
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}"


- name: gatk_collectwgsmetricswithnonzerocoverage_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectwgsmetricswithnonzerocoverage, {{ sample.name}}]
  input: {{ bam_path }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    gatk CollectWgsMetricsWithNonZeroCoverage \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}.wgs_wnzc_metrics.txt" \
      --CHART_OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}.wgs_wnzc_metrics.pdf" \
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}"


- name: gatk_collectrawwgsmetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectrawwgsmetrics, {{ sample.name}}]
  input: {{ bam_path }}
  walltime: "24:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    gatk CollectRawWgsMetrics \
      --USE_FAST_ALGORITHM true \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}.wgs_raw_metrics.txt" \
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      --INCLUDE_BQ_HISTOGRAM true


{% elif sample.glType|lower == 'exome' %}
- name: gatk_collecthsmetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collecthsmetrics, {{ sample.name}}]
  input: {{ bam_path }}
  walltime: "8:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    gatk CollectHsMetrics \
      --METRIC_ACCUMULATION_LEVEL LIBRARY \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ bam_path|basename }}.hs_metrics.txt" \
      --REFERENCE_SEQUENCE "{{ constants.phoenix.reference_fasta }}" \
      --TARGET_INTERVALS "{{ sample.capture_kit.targets_interval_list }}" \
      {% if sample.capture_kit.baits_interval_list is defined %}
      --BAIT_INTERVALS "{{ sample.capture_kit.baits_interval_list }}"
      {% else %}
      --BAIT_INTERVALS  "{{ sample.capture_kit.targets_interval_list }}"
      {% endif %}

{% endif %}

{% if sample.subGroup|lower == 'constitutional' %}
- name: verifybamid2_{{ sample.name }}
  tags: [qc, verifybamid2, {{ sample.name }}]
  input: {{ bam_path }}
  cpus: 1
  mem: 4000M
  walltime: "8:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.verifybamid2_1_0_5.module }}

    mkdir -p "{{ stats_dir }}"

    # Some resources are included in the VerifyBamID home dir
    VERIFY_BAM_ID_HOME="$(dirname $(dirname $(which VerifyBamID)))"

    VerifyBamID \
      --NumThread 4 \
      --UDPath "${VERIFY_BAM_ID_HOME}/resource/1000g.100k.b38.vcf.gz.dat.UD" \
      --MeanPath "${VERIFY_BAM_ID_HOME}/resource/1000g.100k.b38.vcf.gz.dat.mu" \
      --BedPath "${VERIFY_BAM_ID_HOME}/resource/1000g.100k.b38.vcf.gz.dat.bed" \
      --Reference "{{ constants.phoenix.reference_fasta }}" \
      --BamFile "{{ bam_path }}" \
      --Output "{{ stats_dir }}/{{ bam_path|basename }}.verifybamid2"

{% endif %}  

{% endmacro %}
