# This macro adds tasks for generating a cram of the final bam
{% macro make_cram(sample_name, sample, aligner='bwa') %}

{% set bam_path = "{gltype}/alignment/{aligner}/{sample_name}/{sample_name}.{aligner}.bam" %}
{% set bam_path = bam_path.format(gltype=sample.glType, sample_name=sample_name, aligner=aligner) %}
{% set cram_path = "{gltype}/alignment/{aligner}/{sample_name}/{sample_name}.{aligner}.cram" %}
{% set cram_path = cram_path.format(gltype=sample.glType, sample_name=sample_name, aligner=aligner) %}

- name: cram_{{ sample_name }}_{{ aligner }}
  input: {{ bam_path }}
  output: {{ cram_path }}
  walltime: "8:00:00"
  cpus: 1
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_7.module }}

    samtools view \
      -C \
      -T  "{{ constants.phoenix.reference_fasta_path }}" \
      "{{ bam_path }}" > "{{ cram_path }}"

    samtools index "{{ cram_path }}"

{% endmacro %}