# This macro adds tasks for generating a cram of the final bam
{% macro cram(sample_name, sample) %}
- name: cram_{{ sample_name }}
  input: results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam
  output: results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.cram
  walltime: "4:00:00"
  cpus: 1
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_7.module }}

    samtools view \
      -C \
      -T  "{{ constants.phoenix.reference_fasta_path }}" \
      "results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam" >\
      "results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.cram"

{% endmacro %}