# This macro adds tasks for running GATK BaseRecalibrator
# The recalbrated bams are written out to:
# results/<sample.glType>/<sample_name>/<sample_name>.bwa.bam
{% macro baserecalibration(sample_name, sample) %}
{% for batch in constants.phoenix.intervals_batched %}
- name: baserecalibration_table_bwa_{{ sample_name }}_{{ loop.index }}
  input: temp/{{ sample_name }}.md.bwa.bam
  walltime: "24:00:00"
  cpus: 4
  cmd: |
    set -euv
    module load {{ constants.tools.gatk_4_0_7_0.module }}

    gatk \
      --java-options "-Xms3000m" \
      BaseRecalibrator \
      --reference "{{ constants.phoenix.reference_fasta_path }}" \
      --known-sites "{{ constants.phoenix.reference_snps }}" \
      {% for interval in batch %}
      -L "{{ interval.contig }}:{{ interval.start }}-{{ interval.stop }}" \
      {% endfor %}
      --input "temp/{{ sample_name }}.md.bwa.bam" \
      --output "temp/{{ sample_name }}.bwa.chunk{{ loop.index }}.recal_data.table"

{% endfor %}

- name: gather_bqsr_reports_bwa_{{ sample_name }}
  after: 
    re: baserecalibration_table_bwa_{{ sample_name }}_.*
  walltime: "24:00:00"
  cpus: 4
  cmd: |
    set -eu
    module load {{ constants.tools.gatk_4_0_7_0.module }}

    gatk \
      --java-options "-Xms3000m" \
      GatherBQSRReports \
      {% for b in constants.phoenix.intervals_batched %}
      --input "temp/{{ sample_name }}.bwa.chunk{{ loop.index }}.recal_data.table" \
      {% endfor %}
      --output "temp/{{ sample_name }}.bwa.recal_data.table"


- name: apply_base_recalibration_bwa_{{ sample_name }}
  methods: Reads for {{ sample_name }} were processed with {{ constants.tools.gatk_4_0_7_0.verbose }}
    BaseRecalibrator to correct systematic errors in base quality scores. 
  after: gather_bqsr_reports_bwa_{{ sample_name }}
  output: 
    - results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam
  walltime: "24:00:00"
  cpus: 8
  cmd: |
    set -euv
    module load {{ constants.tools.gatk_4_0_7_0.module }}
    module load {{ constants.tools.samtools_1_7.module }}

    mkdir -p "results/{{ sample.glType}}/{{ sample_name }}/"

    gatk ApplyBQSR \
      --java-options "-Xms3000m" \
      --reference "{{ constants.phoenix.reference_fasta_path }}" \
      --input "temp/{{ sample_name }}.md.bwa.bam" \
      --bqsr-recal-file "temp/{{ sample_name }}.bwa.recal_data.table" \
      -O "results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam"

    samtools index results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam

{% endmacro %}


# Moves the markduplicates bam without doing baserecalibration
{% macro nobaserecalibration(sample_name, sample) %}
- name: no_baserecalibration_bwa_{{ sample_name }}
  input: temp/{{ sample_name }}.md.bwa.bam
  output: 
    - results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam
  walltime: "24:00:00"
  cpus: 1
  cmd: |
    set -ue 
    module load {{ constants.tools.samtools_1_7.module }}

    mkdir -p "results/{{ sample.glType}}/{{ sample_name }}/"
    mv "temp/{{ sample_name }}.md.bwa.bam" "results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam"

    samtools index results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam

{% endmacro %}