# This macro creates tasks that merge the bwa bams for each 
# sample. Then runs samtools markdups on the merged bam. 
# The results are written out to temp/sample_name.bwa.bam and
# temp/sample_name.md.bwa.bam
{% macro markdups(sample_name, sample) %}

{% if sample.read_groups | length > 1 %}
- name: merge_rg_bams_bwa_{{ sample_name }}
  input: 
  {% for rgid in sample.read_groups %}
    - temp/bwa_mem_{{ rgid }}/{{ rgid }}.bwa.bam
  {% endfor %}
  walltime: "24:00:00"
  cpus: 4
  cmd: |
    #!/bin/bash
    set -ue
    module load {{ constants.tools.samtools_1_7.module }}

    samtools merge -f "temp/{{ sample_name }}.bwa.bam" \
    {% for rgid in sample.read_groups %}
      "temp/bwa_mem_{{ rgid }}/{{ rgid }}.bwa.bam" \
    {% endfor %}

    # Cleanup the tempfiles
    {% for rgid in sample.read_groups %}
    rm -r "temp/bwa_mem_{{ rgid }}"
    {% endfor %}

- name: mark_duplicates_bwa_{{ sample_name }}
  after: merge_rg_bams_bwa_{{ sample_name }}
  methods: Duplicate reads for {{ sample_name }} (BWA) were marked with 
    {{ constants.tools.samtools_1_7.verbose }} markdup. 
  walltime: "24:00:00"
  cpus: 8
  cmd: |
    #!/bin/bash
    set -eu
    module load {{ constants.tools.samtools_1_7.module }}

    # If this task was interrupted previously, temp files may exist 
    # that will cause errors with samtools markdup. Here, we purge any 
    # existing temp files before making the directory again.
    TMPDIR1="temp/markdup_bwa_{{ sample_name }}/"
    rm -r "${TMPDIR1}" || true
    mkdir -p "${TMPDIR1}"
    
    samtools markdup \
      -S \
      -s \
      -T "${TMPDIR1}" \
      "temp/{{ sample_name }}.bwa.bam" \
      "temp/{{ sample_name }}.md.bwa.bam"

    samtools index "temp/{{ sample_name }}.md.bwa.bam"

    rm -r "${TMPDIR1}"

{% else %}
- name: mark_duplicates_bwa_{{ sample_name }}
  input: 
  {% for rgid in sample.read_groups %}
    - temp/bwa_mem_{{ rgid }}/{{ rgid }}.bwa.bam
  {% endfor %}
  methods: Duplicate reads for {{ sample_name }} (BWA) were marked with 
    {{ constants.tools.samtools_1_7.verbose }} markdup. 
  walltime: "24:00:00"
  cpus: 8
  cmd: |
    #!/bin/bash
    set -eu
    module load {{ constants.tools.samtools_1_7.module }}

    # If this task was interrupted previously, temp files may exist 
    # that will cause errors with samtools markdup. Here, we purge any 
    # existing temp files before making the directory again.
    TMPDIR1="temp/markdup_bwa_{{ sample_name }}/"
    rm -r "${TMPDIR1}" || true
    mkdir -p "${TMPDIR1}"
    
    samtools markdup \
      -S \
      -s \
      -T "${TMPDIR1}" \
      {% for rgid in sample.read_groups %}
      "temp/bwa_mem_{{ rgid }}/{{ rgid }}.bwa.bam" \
      {% endfor %}
      "temp/{{ sample_name }}.md.bwa.bam"

    samtools index "temp/{{ sample_name }}.md.bwa.bam"

    rm -r "${TMPDIR1}"

{% endif %}
{% endmacro %}
