# This macro creates tasks that run samtools markdups on the merged bam.
# Params:
# sample_name: The name of the sample, this determines the output
#   file names.
# sample: The sample object with a read_groups property
#
# Results:
# The results are written out to "temp/<sample_name>.md.bwa.bam"
{% macro markdups(sample_name, sample) %}
- name: samtools_markdup_bwa_{{ sample_name }}
  tags: [samtools, markdup, {{ sample_name }}]
  input: temp/{{ sample_name }}.bwa.bam
  output: temp/{{ sample_name }}.md.bwa.bam
  methods: Duplicate reads for {{ sample_name }} were marked with
    {{ constants.tools.samtools_1_7.verbose }} markdup. 
  walltime: "24:00:00"
  cpus: 8
  cmd: |
    set -eu
    module load {{ constants.tools.samtools_1_7.module }}

    # If this task was interrupted previously, temp files may exist
    # that will cause errors with samtools markdup. Here, we purge any
    # existing temp files before making the directory again.
    MARKDUP_TEMPDIR="temp/markdup_bwa_{{ sample_name }}/"
    rm -r "${MARKDUP_TEMPDIR}" || true
    mkdir -p "${MARKDUP_TEMPDIR}"
    
    samtools markdup \
      -S \
      -s \
      -T "${MARKDUP_TEMPDIR}" \
      "temp/{{ sample_name }}.bwa.bam" \
      "temp/{{ sample_name }}.md.bwa.bam"

    samtools index "temp/{{ sample_name }}.md.bwa.bam"

    rm -r "${MARKDUP_TEMPDIR}"

{% endmacro %}
