
{% macro bam_coverage(sample) %}

- name: bam_coverage_{{ sample.name }}
  tags: [{{ sample.gltype }}, alignment, cutnrun, chip, {{ sample.name }}]
  input: {{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/{{ sample.name }}.bowtie2.bam
  output: {{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/stats/{{ sample.name }}.bowtie2.bam.bw
  walltime: "48:00:00"
  cpus: 10
  mem: 40G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.python_3_7_2.module }}

    mkdir -p "{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/stats/"

    bamCoverage \
     -b {{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/{{ sample.name }}.bowtie2.bam \
     -o {{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/stats/{{ sample.name }}.bowtie2.bam.bw \
     -of bigwig \
     -p max \
     --effectiveGenomeSize 2913022398

{% endmacro %}