
{% macro macs2_callpeak(sample) %}

- name: macs2_callpeak_{{ sample.name }}
  tags: [{{ sample.gltype }}, alignment, cutnrun, chip, {{ sample.name }}]
  input: temp/{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/{{ sample.name }}.bowtie2.md.bam
  walltime: "48:00:00"
  cpus: 16
  mem: 40G
  cmd: |
    module load {{ constants.tools.python_3_7_2.module }}
    module load {{ constants.tools.bedtools.module }}

    macs2 callpeak \
      -t temp/{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/{{ sample.name }}.bowtie2.md.bam \
      -f BAM \
      -n {{ sample.name }} \
      --outdir temp/{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/ \
      -B \
      -q 0.01 \
      --keep-dup all

    bedtools intersect \
      -v \
      -a temp/{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/{{ sample.name }}_peaks.narrowPeak \
      -b /home/jlang/refgenomeindex/hs38dh/ChIP_blacklist/hg38_blacklist.bed \
      > temp/{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}_peaksfilter.narrowPeak

{% endmacro %}