
{% macro multi_big_wig_summary(samples) %}

- name: multi_big_wig_summary
  tags: [ cutnrun, chip ]
  after-re: bam_coverage_.*
  input:
  {% for sample in samples.values() %}
    {{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/stats/{{ sample.name }}.bowtie2.md.bam.bw
  {% endfor %}
  walltime: "48:00:00"
  cpus: 16
  cmd: |
    module load {{ constants.tools.python_3_7_2.module }}

    mkdir -p "chip/summary/"

    multiBigwigSummary bins \
     --bwfiles {% for sample in samples.values() %}{{ sample.gltype }}/alignment/bowtie2/{{ sample.name }}/stats/{{ sample.name }}.bowtie2.md.bam.bw {% endfor %} \
     --outFileName chip/summary/multiBigWigSummary.npz \
     --smartLabels \
     --numberOfProcessors max

{% endmacro %}