#!/bin/bash

#SBATCH -n 1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task=16
#SBATCH -t 50:00:00
#SBATCH -J plotCoverage
#SBATCH -e /scratch/jlang/logs/plotCoverage%j.err
#SBATCH -o /scratch/jlang/logs/plotCoverage%j.out
#SBATCH --mail-type=BEGIN,END,FAILED
#SBATCH --mail-user=jlang@tgen.org
#SBATCH --mem=4gb

##########################
# deepTools plotCoverage #
##########################

cd /scratch/jlang/bams/
module load python/3.6.2
source /home/jlang/tools/deeptoolsvenv/bin/activate

# ! make list of bams
i=$(ls *_hg38.bam)
date
plotCoverage -b $i -o ../deepTools/plotCoverage.png  --smartLabels -p max
# --extendReads not needed for paired end sequencing. For single-end sequencing, use 1) Value from library prep information on fragment size, 2) Estimate from MACS predictd tool, or 3) 300 as an estimate
date