#!/bin/bash

#SBATCH -n 1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task=16
#SBATCH -t 10:00:00
#SBATCH -J RemoveDup
#SBATCH -e /scratch/jlang/logs/RemoveDup%j.err
#SBATCH -o /scratch/jlang/logs/RemoveDup%j.out
#SBATCH --mail-type=BEGIN,END,FAILED
#SBATCH --mail-user=jlang@tgen.org
#SBATCH --mem=6gb

##################################################################
### Remove PCR duplicates from single or paired end sequencing ###
##################################################################

#Note: perform this if Library Complexity is <0.8

cd /scratch/jlang/bams/
module load samtools/1.9

for i in `ls *_hg38.bam`
do
        date
        echo $i
        fn=${i%.bam}
        java -Xmx6g -XX:ParallelGCThreads=16 -jar /home/ksivaprakasam/tools/picard_2.10.3/picard.jar MarkDuplicates INPUT=$i M=$fn"_estlibcomplex.txt" O=$fn"_dup.bam" REMOVE_DUPLICATES=true
        samtools index /scratch/jlang/bams/$fn"_dup.bam" /scratch/jlang/bams/$fn"_dup.bam.bai"
date
done