#!/bin/bash

#SBATCH -n 1
#SBATCH --ntasks-per-node=1
#SBATCH -t 50:00:00
#SBATCH -J spikeincal
#SBATCH -e /scratch/jlang/logs/spikeincal%j.err
#SBATCH -o /scratch/jlang/logs/spikeincal%j.out
#SBATCH --mail-type=BEGIN,END,FAILED
#SBATCH --mail-user=jlang@tgen.org
#SBATCH --mem=2gb

##############################################
# calibrate CUT&RUN reads to spike-in genome #
##############################################


cd /scratch/jlang/bams/
module load BEDTools/2.26.0
module load samtools/1.9

for i in `ls *_hg38.bam`
do
        date
        echo $i
        fn=${i%_hg38.bam}
        bedtools bamtobed -i $i > $fn"_hg38.bed"
        bedtools bamtobed -i $fn"_ecoli.bam" > $fn"_ecoli.bed"
        SPIKE=$(wc -l < $fn"_ecoli.bed")
        SCALE=$(echo "10000 / $SPIKE" | bc -l)
        echo scale_factor=$SCALE
        date
        bedtools genomecov -bg -scale $SCALE -i $fn"_hg38.bed" -g /home/jlang/refgenomeindex/hs38dh/hg38_genomeFile.txt > $fn"_norm.bedgraph"
        date
done
