

{% macro bam_to_cram(sample, aligner='bwa') %}
{% if cram|default(true) %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set cram_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.cram{% endset %}

- name: bam_to_cram_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, {{ sample.name }}, bam_to_cram ]
  input: {{ bam_path }}
  output: {{ cram_path }}
  walltime: "8:00:00"
  cpus: 8
  mem: 3G
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.samtools_1_9.module }}

    samtools view \
      -C \
      -@ 8 \
      {% if aligner == 'star' %}
      --reference "{{ constants.phoenix.star_fasta }}" \
      {% elif aligner == 'bwa' %}
      --reference "{{ constants.phoenix.reference_fasta }}" \
      {% endif %}
      -o "{{ cram_path }}" \
      "{{ bam_path }}"

    samtools index "{{ cram_path }}"
{% endif %}
{% endmacro %}