{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  output: temp/fastqs/{{ fastq.basename }}
  tags: [rsync,]
  sbatch_args: ['-p', 'overflow,defq']
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    rsync "{{ fastq.fastqPath }}" "temp/fastqs/"

{% endmacro %}