
{% macro md5sum_bam_cram(sample, aligner='bwa') %}
{% if cram|default(true) %}
{% set file_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}{% endset %}

- name: md5sum_bam_cram_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, {{ sample.name }}, md5sum ]
  input:
    {% if cram|default(true) %}
    - {{ file_path }}/{{ sample.name }}.{{ aligner }}.cram
    - {{ file_path }}/{{ sample.name }}.{{ aligner }}.cram.crai
    {% else %}
    - {{ file_path }}/{{ sample.name }}.{{ aligner }}.bam
    - {{ file_path }}/{{ sample.name }}.{{ aligner }}.bam.bai
    {% endif %}
  output:
    {% if cram|default(true) %}
    - {{ sample.name }}.{{ aligner }}.cram.md5
    - {{ sample.name }}.{{ aligner }}.cram.crai.md5
    {% else %}
    - {{ sample.name }}.{{ aligner }}.bam.md5
    - {{ sample.name }}.{{ aligner }}.bam.bai.md5
    {% endif %}
  walltime: "1:00:00"
  cpus: 1
  mem: 2G
  cmd: |
    set -eu
    set -o pipefail

    {# cd to the directory of the files for proper md5sum generation #}
    cd {{ file_path }}

    {% if cram|default(true) %}
    md5sum {{ sample.name }}.{{ aligner }}.cram > {{ sample.name }}.{{ aligner }}.cram.md5
    md5sum {{ sample.name }}.{{ aligner }}.cram.crai > {{ sample.name }}.{{ aligner }}.cram.crai.md5
    {% else %}
    md5sum {{ sample.name }}.{{ aligner }}.bam > {{ sample.name }}.{{ aligner }}.bam.md5
    md5sum {{ sample.name }}.{{ aligner }}.bam.bai > {{ sample.name }}.{{ aligner }}.bam.bai.md5
    {% endif %}

{% endif %}

{% endmacro %}
