{% macro remove_files(directory, before, after) %}

- name: removing_files_{{ after }}
  {% if before is not none %}
  before-re: {{ before }}
  {% endif %}
  after-re:
    {% for task in after %}
    - {{ task }}
    {% endfor %}
  walltime: "0:10:00"
  cpus: 1
  mem: 2G
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ directory }}

{% endmacro %}