
{% macro tumor_only_variant_filter(pair, input_vcf, final_vcf_prefix, temp_dir, variant_caller) %}

{% set output_vcf %}{{ final_vcf_prefix }}.flt.vcf.gz{% endset %}
{% set temp_vcf_prefix %}{{ temp_dir }}/{{ final_vcf_prefix | basename }}{% endset %}
{% set DB_member %}(INFO/GNOMAD_EXOME=1 | INFO/GNOMAD_GENOME=1 | INFO/TOPMED=1){% endset %}
{% set DB_exclude %}(INFO/TOPMED_AC>5 | INFO/GNOMAD_GENOME_AC>5 | INFO/GNOMAD_EXOME_AC>5){% endset %}
{% set COSMIC_filter %}(INFO/COSMIC_CNT>=1 | INFO/COSMIC_NC_CNT>=1){% endset %}
{% if variant_caller == 'merged' and pair.callers is defined %}
  {% if pair.callers | length > 3 %}
    {% set CC_filter %}INFO/CC>=3{% endset %}
  {% else %}
    {% set CC_filter %}INFO/CC>={{ pair.callers | length - 1 }}{% endset %}
  {% endif %}
{% endif %}

- name: tumor_only_variant_filtering_{{ pair.name }}_{{ variant_caller }}
  tags: [tumor_only, variant_filter. {{ variant_caller }}]
  {% if temp_dir in input_vcf %}
  reset: predecessors
  {% endif %}
  input: {{ input_vcf }}
  output: {{ output_vcf }}
  cpus: 1
  mem: 4G
  walltime: "4:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.bcftools.module }}

    mkdir -p {{ temp_dir }}

    {# We need to do tiered filtering since we can't use -i and -e at the same time #}
    bcftools view \
      {% if variant_caller == 'merged' %}
      --include "{{ CC_filter }} & {{ DB_member }} & {{ COSMIC_filter }}" \
      {% else %}
      --include "{{ DB_member }} & {{ COSMIC_filter }}" \
      {% endif %}
      {{ input_vcf }} |\
      bcftools view \
        --exclude "{{ DB_exclude }}" \
        --output-file {{ temp_vcf_prefix }}.filtered_db.vcf.gz --output-type z -

    bcftools index --force {{ temp_vcf_prefix}}.filtered_db.vcf.gz

    {# Creating a vcf of variants that do not exist in gnomad/topmed #}
    bcftools view \
      {% if variant_caller == 'merged' %}
      --include "{{ CC_filter }}" \
      {% endif %}
      {{ input_vcf }} |\
      bcftools view \
        --exclude "{{ DB_member }}" \
        --output-file {{ temp_vcf_prefix }}.not_in_db.vcf.gz --output-type z -

    bcftools index --force {{ temp_vcf_prefix}}.not_in_db.vcf.gz

    {# Merging the vcf containing filtered variants annotated by gnomad/topmed and those that did not exist in the db #}
    bcftools concat \
      --allow-overlaps \
      {{ temp_vcf_prefix}}.filtered_db.vcf.gz \
      {{ temp_vcf_prefix}}.not_in_db.vcf.gz |\
    bcftools sort \
      --output-file {{ output_vcf }} --output-type z -

    bcftools index --threads 4 --tbi --force {{ output_vcf }}
    bcftools index --threads 4 --force {{ output_vcf }}

{% endmacro %}

{% macro filter_variants(pair, input_vcf, output_dir, output_vcf, task) %}

{# Checking if CC_filter is already defined, in preparation for allowing user defined filters #}
{% if CC_filter is not defined %}
  {% if pair.callers is defined and pair.callers|length > 1 %}
    {% if pair.callers | length > 3 %}
      {% set CC_filter %}INFO/CC>={{ pair.callers | length - 2 }}{% endset %}
    {% else %}
      {% set CC_filter %}INFO/CC>={{ pair.callers | length - 1 }}{% endset %}
    {% endif %}
  {% endif %}
{% endif %}

{# Checking for output_vcf type, e.g. vcf.gz, vcf, bcf #}
{% if output_vcf.endswith('vcf') %}
  {% set output_type = 'v' %}
{% elif output_vcf.endswith('bcf') %}
  {% set output_type = 'b' %}
{% else %}
  {% set output_type = 'z' %}
{% endif %}

- name: variant_filtering_{{ pair.name }}_{{ task }}
  tags: [variant_filter]
  input: {{ input_vcf }}
  output: {{ output_vcf }}
  cpus: 1
  mem: 4G
  walltime: "4:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.bcftools.module }}

    mkdir -p {{ output_dir }}

    bcftools view \
      {% if CC_filter is defined %}
      --include "{{ CC_filter }}" \
      {% endif %}
      --output-file {{ output_vcf }} \
      --output-type {{ output_type }} \
      {{ input_vcf }}

    {# No need to index vcf if it isn't compressed #}
    {%- if output_type != 'v' %}
    bcftools index --force {{ output_vcf }}
    {% endif %}

{% endmacro %}
