# Adds QC tasks for the sample bams
{% from 'genome_alignment/bam_qc.jst' import bam_qc with context %}


{% macro bamqc_exome(sample_name, sample) %}
{{ bam_qc(sample_name, sample) }}

{% set library_code = sample.assayCode[0:2] %}
{% set capture_kit_code = sample.assayCode[2:5] %}

- name: collecthsmetrics_bwa_{{ sample_name }}
  input: results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam
  walltime: "24:00:00"
  cpus: 1
  cmd: |
    set -ue
    module load {{ constants.tools.gatk_4_0_1_2 }}

    gatk CollectHsMetrics \
      I="results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam" \
      O="results/{{ sample.glType}}/{{ sample_name }}/{{ sample_name }}.bwa.bam.hs_metrics.txt" \
      R={{ constants.phoenix.reference_fasta_path }} \
      BAIT_INTERVALS={{ constants.capture_kits[capture_kit_code].probes }} \
      TARGET_INTERVALS={{ constants.capture_kits[capture_kit_code].targets }}

{% endmacro %}
