{% macro msisensor_pro(pair, normal_bam, tumor_bam, aligner) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/msisensor_pro/{{ pair.name }}{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/msisensor_pro/{{ pair.name }}{% endset %}

{% set tumor_nodup_bam %}{{ temp_dir }}/{{ pair.tumor.name }}.{{ aligner }}.bam{% endset %}
{% set normal_nodup_bam %}{{ temp_dir }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}

- name: msisensor_pro_{{ pair.name }}_{{ aligner }}
  tags: [msisensor, {{ pair.gltype }}]
  input:
    - {{ normal_bam }}
    - {{ tumor_bam }}
  output: {{ results_dir }}/{{ pair.name }}_msisensor_pro_results
  walltime: "24:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.samtools.module }}
    module load {{ constants.tools.msisensor.module }}

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    samtools view \
      -h \
      -b \
      -F 0x400 \
      {{ tumor_bam }} \
      > {{ tumor_nodup_bam }}
    samtools index {{ tumor_nodup_bam }}

    samtools view \
      -h \
      -b \
      -F 0x400 \
      {{ normal_bam }} \
      > {{ normal_nodup_bam }}
    samtools index {{ normal_nodup_bam }}

    msisensor-pro msi \
        -d {{ constants.phoenix.reference_msisensor_pro }} \
        -n {{ normal_nodup_bam }} \
        -t {{ tumor_nodup_bam }} \
        {% if pair.gltype == 'exome' %}
        -c 20 \
        {% else %}
        -c 15 \
        {% endif %}
        -b 4 \
        -o {{ temp_dir }}/{{ pair.name }}_msisensor_pro_results

    mv {{ temp_dir }}/{{ pair.name }}_msisensor_pro_results {{ results_dir }}

{% endmacro %}