{% from 'modules/qc/stats2json.jst' import stats2json with context %}

{% macro mutation_burden(pair, normal_bam, tumor_bam, temp_dir, input_vcf, results_dir, variant_caller, aligner, annotate_flag) %}

{% set mutation_burden_temp %}{{ temp_dir }}/mutation_burden_{{ annotate_flag }}{% endset %}
{% set mutation_burden_output %}{{ results_dir }}/{{ pair.name }}.{{ annotate_flag }}.mutation_burden.txt{% endset %}
{% set mutation_burden_json %}{{ results_dir }}/{{ pair.name }}.{{ annotate_flag }}.mutation_burden.json{% endset %}

- name: tgen_mutation_burden_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}_{{ annotate_flag }}
  tags:
  input:
    - {{ input_vcf }}
    - {{ normal_bam }}
    - {{ tumor_bam }}
  output:
    - {{ mutation_burden_output }}
  walltime: "24:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.tgen_mutation_burden.module }}
    module load {{ constants.tools.samtools.module }}
    module load {{ constants.tools.bcftools.module }}
    module load {{ constants.tools.htslib.module }}
    module load {{ constants.tools.R.module }}
    module load {{ constants.tools.bedtools.module }}

    rm -r {{ mutation_burden_temp }} || true
    mkdir -p {{ mutation_burden_temp }}

    bcftools filter \
      --include 'INFO/CC>=3' \
      {% for effect in constants.phoenix.ns_effects %}
      {% if annotate_flag == 'snpeff' %}
      --include 'INFO/ANN ~ "{{ effect }}"' \
      {% else %}
      --include 'INFO/CSQ ~ "{{ effect }}"' \
      {% endif %}
      {% endfor %}
      --output {{ mutation_burden_temp }}/{{ pair.name }}.{{ variant_caller }}.{{ annotate_flag }}.vcf.gz \
      --output-type z \
      {{ input_vcf }}

    {% if pair.gltype == 'exome' %}
    bedtools intersect \
      -a {{ constants.phoenix.cds_intervals }} \
      -b {{ pair.tumor.capture_kit.extended_bed }} \
      > {{ mutation_burden_temp }}/{{ pair.name }}_isec_cds_capture_kit.bed
    {% endif %}

    tgen_mutation_burden.sh \
      {% if pair.gltype == 'exome' %}
      --bed {{ mutation_burden_temp }}/{{ pair.name }}_isec_cds_capture_kit.bed \
      {% else %}
      --bed {{ constants.phoenix.cds_intervals }} \
      {% endif %}
      --vcf {{ mutation_burden_temp }}/{{ pair.name }}.{{ variant_caller }}.{{ annotate_flag }}.vcf.gz \
      --tbam {{ tumor_bam }} \
      --nbam {{ normal_bam }} \
      --outprefix {{ temp_dir }} \
      --sample {{ pair.tumor.rgsm }} \
      --library {{ pair.tumor.rglb }} \
      --outfile {{ mutation_burden_output }} \
      --pipeline \
      --verbose

    {# Adding two new lines to end of output file #}
    printf "\n\n" >> {{ mutation_burden_output }}

    {% set task %}{{ pair.tumor.rgsm }}_{{ aligner }}_{{ annotate_flag }}{% endset %}
    {{ stats2json(pair.gltype, pair.name, task, mutation_burden_output, mutation_burden_json, "tgen_mutation_burden") }}

{% endmacro %}