{% from 'modules/qc/stats2json.jst' import stats2json with context %}

{% macro sigprofiler(pair, input_vcf, variant_caller, aligner) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}{% endset %}

- name: sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}
  tags:
  input:
    - {{ input_vcf }}
  walltime: "24:00:00"
  cpus: 4
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.sigprofiler.module }}
    module load {{ constants.tools.bcftools.module }}

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}/vcfs
    mkdir -p {{ results_dir }}

    {# sigprofiler does not like vcf.gz, decompress #}
    bcftools view \
    --output-type v \
    --output-file {{ temp_dir }}/vcfs/{{ input_vcf|basename }}.vcf \
    {{ input_vcf }}

    python3 ${JS_PIPELINE_PATH}/required_scripts/{{ constants.phoenix.sigprofiler }} \
      --threads 4 \
      --vcfpath {{ temp_dir }}/vcfs \
      --output {{ results_dir }} \
      --project {{ pair.name }}

{% endmacro %}
