# This macro adds tasks for running GATK BaseRecalibrator on the output
# from markdups.
{% macro baserecalibration(sample, aligner='bwa') %}

{% for batch in constants.phoenix.sequence_groupings %}
- name: baserecalibration_table_{{ sample.name }}_{{ aligner }}_{{ loop.index }}
  tags: [{{ sample.gltype }}, alignment, base_recalibration, gatk, {{ sample.name }}]
  input: temp/{{ sample.name }}.{{ aligner }}.md.bam
  walltime: "4:00:00"
  cpus: 4
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.gatk.module }}

    gatk \
      --java-options "-Xmx14G" \
      BaseRecalibrator \
      --use-original-qualities \
      --reference "{{ constants.phoenix.reference_fasta }}" \
      {% for vcf in constants.phoenix.gatk_known_sites %}
      --known-sites "{{ vcf }}" \
      {% endfor %}
      {% for interval in batch %}
      --intervals "{{ interval }}:1+" \
      {% endfor %}
      {% if loop.last %}
      --intervals "unmapped" \
      {% endif %}
      --input "temp/{{ sample.name }}.{{ aligner }}.md.bam" \
      --output "temp/{{ sample.name }}.{{ aligner }}.recal_data.chunk_{{ loop.index }}.table"

{% endfor %}

- name: gather_bqsr_reports_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, alignment, base_recalibration, gatk, {{ sample.name }}]
  after-re: baserecalibration_table_{{ sample.name }}_{{ aligner }}_.*
  walltime: "4:00:00"
  cpus: 4
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.gatk.module }}

    gatk \
      --java-options "-Xmx14G" \
      GatherBQSRReports \
      {% for b in constants.phoenix.sequence_groupings %}
      --input "temp/{{ sample.name }}.{{ aligner }}.recal_data.chunk_{{ loop.index }}.table" \
      {% endfor %}
      --output "temp/{{ sample.name }}.{{ aligner }}.recal_data.table"


{% for batch in constants.phoenix.sequence_groupings %}
- name: apply_base_recalibration_{{ sample.name }}_{{ aligner }}_{{ loop.index }}
  tags: [{{ sample.gltype }}, alignment, base_recalibration, gatk, {{ sample.name }}]
  methods: Reads for {{ sample.name }} were processed with
    {{ constants.tools.gatk.verbose }} BaseRecalibrator to correct
    systematic errors in base quality scores.
  after: gather_bqsr_reports_{{ sample.name }}_{{ aligner }}
  walltime: "4:00:00"
  cpus: 8
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.gatk.module }}

    {# Removed --emit-original-quals and --use-original-quals #}
    {# --emit* results in a "significant increase of the file size" #}
    gatk ApplyBQSR \
      --java-options "-Xmx28G" \
      --static-quantized-quals 10 \
      --static-quantized-quals 20 \
      --static-quantized-quals 30 \
      --static-quantized-quals 40 \
      --reference "{{ constants.phoenix.reference_fasta }}" \
      --input "temp/{{ sample.name }}.{{ aligner }}.md.bam" \
      --bqsr-recal-file "temp/{{ sample.name }}.{{ aligner }}.recal_data.table" \
      {% for interval in batch %}
      --intervals "{{ interval }}:1+" \
      {% endfor %}
      {% if loop.last %}
      --intervals "unmapped" \
      {% endif %}
      --output "temp/{{ sample.name }}.{{ aligner }}.recal_chunk_{{ loop.index }}.bam"

{% endfor %}

- name: merge_bqsr_bam_chunks_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, alignment, base_recalibration, gatk, {{ sample.name }}]
  after-re: apply_base_recalibration_{{ sample.name }}_{{ aligner }}_.*
  output: {{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "4:00:00"
  cpus: 4
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.gatk.module }}
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/"

    gatk GatherBamFiles \
      --java-options "-Xmx14G" \
      --OUTPUT "{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam" \
      {% for b in constants.phoenix.sequence_groupings %}
      --INPUT "temp/{{ sample.name }}.{{ aligner }}.recal_chunk_{{ loop.index }}.bam" \
      {% endfor %}

    samtools index -@ 4 "{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam"

    {# Cleanup the tempfiles #}
    {% if not debug %}
    {% for b in constants.phoenix.sequence_groupings %}
    rm "temp/{{ sample.name }}.{{ aligner }}.recal_chunk_{{ loop.index }}.bam"
    {% endfor %}
    {% endif %}

{% endmacro %}


# Moves the markduplicates bam without doing baserecalibration
{% macro nobaserecalibration(sample, aligner='bwa') %}
- name: no_baserecalibration_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, bwa, {{ sample.name }}]
  input: temp/{{ sample.name }}.{{ aligner }}.md.bam
  output: {{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "1:00:00"
  cpus: 10
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/"
    mv \
      "temp/{{ sample.name }}.{{ aligner }}.md.bam" \
      "{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam"

    samtools index -@ 10 "{{ sample.gltype}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam"

{% endmacro %}