# DNA Alignment with BWA MEM
# Take DNA fastq data files to aligned bams with qc data
{% from 'modules/dna_alignment/bwa_mem_samtools.jst' import bwa_mem_samtools_chunked with context %}
{% from 'modules/dna_alignment/bwa_mem_gatk_picard.jst' import bwa_mem_gatk_picard_chunked with context %}
{% from 'modules/dna_alignment/bwa_mem_samblaster_sambamba.jst' import bwa_mem_blaster_bamba with context %}
{% from 'modules/dna_alignment/gatk_baserecalibration.jst' import baserecalibration, nobaserecalibration with context %}
{% from 'utilities/bam_to_cram.jst' import bam_to_cram with context %}
{% from 'utilities/read_group_line.jst' import read_group_line %}
{% from 'modules/qc/main.jst' import bam_qc with context %}


{% macro dna_alignment(samples) %}
  {% set alignment_style = dnaAlignmentStyle|default('tgen')|lower %}
  {% set reads_per_chunk = reads_per_chunk|default(48000000) %}

  {% for sample in samples.values() if sample.gltype in ['genome', 'exome'] %}

    {% set platform = (sample.read_groups.values()|first).rgpm|default('') %}
    {% if platform|lower in ['hiseq4000', 'novaseq6000'] %}
      {% set distance = 2500 %}
    {% else %}
      {% set distance = 100 %}
    {% endif %}

    {% if alignment_style == 'tgen' %}
      {{- bwa_mem_samtools_chunked(sample, reads_per_chunk, distance) }}
    {% elif alignment_style == 'broad'  %}
      {{- bwa_mem_gatk_picard_chunked(sample, reads_per_chunk, distance) }}
    {% elif alignment_style == 'ashion' %}
      {{- bwa_mem_blaster_bamba(sample) }}
    {% else %}
      {{ raise('Unknown dnaAlignmentStyle: {}'.format(dnaAlignmentStyle)) }}
    {% endif %}

    {% if sample.gltype == 'genome' %}
      {% if tasks.Genome_alignment_base_recalibration_gatk is defined and tasks.Genome_alignment_base_recalibration_gatk %}
        {{- baserecalibration(sample, aligner='bwa') }}
      {% else %}
        {{- nobaserecalibration(sample, aligner='bwa') }}
      {% endif %}
    {% elif sample.gltype == 'exome' %}
      {% if tasks.Exome_alignment_base_recalibration_gatk is defined and tasks.Exome_alignment_base_recalibration_gatk %}
        {{- baserecalibration(sample, aligner='bwa') }}
      {% else %}
        {{- nobaserecalibration(sample, aligner='bwa') }}
      {% endif %}
    {% endif %}

    {{- bam_to_cram(sample, aligner='bwa') }}

    {{- bam_qc(sample, aligner='bwa') }}

  {% endfor %}

{% endmacro %}
