{% from 'modules/annotation/snpeff.jst' import snpeff with context %}

{% macro deepvariant(sample, aligner='bwa') %}
{% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set temp_dir %}temp/{{ sample.gltype }}/constitutional_variant_calls/deepvariant/{{ sample.name }}_{{ aligner }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/constitutional_variant_calls/deepvariant/{{ sample.name }}{% endset %}
{% set all_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.deepvariant.all.vcf.gz{% endset %}
{% set pass_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.deepvariant.pass.vcf.gz{% endset %}
{% set ann_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.deepvariant.pass.ann.vcf.gz{% endset %}

{% set nshards=40 %}
{% for i in range(nshards) %}
- name: deepvariant_make_examples_{{ sample.name }}_{{ aligner }}_shard{{ i }}
  tags: [deepvariant, {{ sample.gltype }}]
  input: {{ bam }}
  cpus: 1
  mem: 4G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.singularity_3_1_0.module }}
    module load {{ constants.tools.deepvariant_0_7_0_gpu.module }}
    export PYTHONPATH=/usr/lib/python2.7  # is this really necessary?
    PROJECT_ROOT=$PWD

    mkdir -p "{{ temp_dir }}"

    # Run make_examples
    # This function does not need to be run on a GPU
    # cd here in order to prevent wild temp files from polluting the project
    (cd "{{ temp_dir }}" && make_examples \
      --logging_level WARN \
      --mode calling \
      --task {{ i }} \
      --ref "{{ constants.phoenix.reference_fasta }}" \
      --reads "${PROJECT_ROOT}/{{ bam }}" \
      --examples "${PROJECT_ROOT}/{{ temp_dir }}/{{ sample.name }}.ex.tfrecord@{{ nshards }}.gz")
      
{% endfor %}

- name: deepvariant_call_variants_{{ sample.name }}_{{ aligner }}
  tags: [deepvariant, {{ sample.gltype }}]
  after:
  {% for i in range(nshards) %}
    - deepvariant_make_examples_{{ sample.name }}_{{ aligner }}_shard{{ i }}
  {% endfor %}
  cpus: 10
  mem: 40G
  sbatch_args: ['-p', 'gpu', '--gres', 'gpu:1']
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.singularity_3_1_0.module }}
    module load {{ constants.tools.deepvariant_0_7_0_gpu.module }}
    export PYTHONPATH=/usr/lib/python2.7  # is this really necessary?
    PROJECT_ROOT=$PWD

    # Run call_variants
    call_variants \
      {% if sample.gltype == 'exome' %}
      --checkpoint "{{ constants.phoenix.deepvariant_models.exome }}" \
      {% else %}
      --checkpoint  "{{ constants.phoenix.deepvariant_models.genome }}" \
      {% endif %}
      --examples "${PROJECT_ROOT}/{{ temp_dir }}/{{ sample.name }}.ex.tfrecord@{{ nshards }}.gz" \
      --outfile "${PROJECT_ROOT}/{{ temp_dir }}/{{ sample.name }}.cvo.tfrecord.gz"


- name: deepvariant_postprocess_variants_{{ sample.name }}_{{ aligner }}
  tags: [deepvariant, {{ sample.gltype }}]
  after: deepvariant_call_variants_{{ sample.name }}_{{ aligner }}
  output: {{ all_vcf }}
  cpus: 8
  mem: 64G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.singularity_3_1_0.module }}
    module load {{ constants.tools.deepvariant_0_7_0_gpu.module }}
    export PYTHONPATH=/usr/lib/python2.7  # is this really necessary?
    PROJECT_ROOT=$PWD
    
    mkdir -p "{{ results_dir }}"
    
    # Run postprocess_variants` without gVCFs
    postprocess_variants \
        --ref "{{ constants.phoenix.reference_fasta }}" \
        --infile "${PROJECT_ROOT}/{{ temp_dir }}/{{ sample.name }}.cvo.tfrecord.gz" \
        --outfile "${PROJECT_ROOT}/{{ all_vcf }}"


- name: deepvariant_filter_variants_{{ sample.name }}_{{ aligner }}
  tags: [deepvariant, bcftools, filter, {{ sample.gltype }}]
  after: deepvariant_postprocess_variants_{{ sample.name }}_{{ aligner }}
  output: {{ pass_vcf }}
  cpus: 2
  mem: 4G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools index -tf "{{ all_vcf }}"

    # Then filter out the PASS variants to a separate file
    bcftools filter \
      -O z \
      -i 'FILTER == "PASS"' \
      {% if sample.gltype == 'exome' %}
      --regions-file "{{ sample.capture_kit.extended_bed }}" \
      {% endif %}
      "{{ all_vcf }}" \
      > "{{ pass_vcf }}"

    bcftools index -tf "{{ pass_vcf }}"


{{ snpeff(pass_vcf, ann_vcf) }}

{% endmacro %}
