{% from 'modules/germline/gatk_haplotypecallergvcf.jst' import haplotypecallergvcf with context %}
{% from 'modules/germline/gatk_genotypegvcf.jst' import genotypegvcf with context %}
{% from 'modules/germline/freebayes.jst' import freebayes with context %}
{% from 'modules/germline/manta.jst' import manta_constitutional with context %}
{% from 'modules/germline/strelka2.jst' import strelka2_constitutional with context %}
{% from 'modules/germline/deepvariant.jst' import deepvariant with context %}
{% from 'modules/germline/octopus.jst' import octopus_constitutional with context %}
{% from 'modules/germline/broad_ichorcna.jst' import ichorcna with context %}

# Germline tools generally operate on a single DNA samples and should not run 
# on "tumor" samples.

{% macro germline_variant_calling(samples) %}
{% for sample in samples.values() if sample.gltype == 'genome' %}
    {% if sample.subGroup|lower != 'tumor' %}
        {% if tasks.Genome_hc_gvcf_gatk|default(True) %}
            {{- haplotypecallergvcf(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Genome_genotype_hc_gvcf_gatk|default(True) %}
            {{- genotypegvcf(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Genome_freebayes_freebayes|default(True) %}
            {{- freebayes(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Genome_manta_manta|default(True) %}
            {{- manta_constitutional(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Genome_strelka2_strelka2|default(True) %}
            {{- strelka2_constitutional(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Genome_deepvariant_deepvariant|default(True) %}
            {{- deepvariant(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Genome_octopus_octopus|default(True) %}
            {{- octopus_constitutional(sample, aligner='bwa') }}
        {% endif %}
    {% endif %}

    {% if tasks.Genome_ichor_cna_ichor|default(True) %}
        {{- ichorcna(sample, aligner='bwa') }}
    {% endif %}

{% endfor %}


{% for sample in samples.values() if sample.gltype == 'exome' %}
    {% if sample.subGroup|lower != 'tumor' %}
        {% if tasks.Exome_hc_gvcf_gatk|default(True) %}
            {{- haplotypecallergvcf(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Exome_genotype_hc_gvcf_gatk|default(True) %}
            {{- genotypegvcf(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Exome_freebayes_freebayes|default(True) %}
            {{- freebayes(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Exome_manta_manta|default(True) %}
            {{- manta_constitutional(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Exome_strelka2_strelka2|default(True) %}
            {{- strelka2_constitutional(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Exome_deepvariant_deepvariant|default(True) %}
            {{- deepvariant(sample, aligner='bwa') }}
        {% endif %}

        {% if tasks.Exome_octopus_octopus|default(True) %}
            {{- octopus_constitutional(sample, aligner='bwa') }}
        {% endif %}
    {% endif %}
    
{% endfor %}


{% endmacro %}
