# Quantify RNA sequecing data
{% from 'modules/rna_quant/salmon.jst' import salmon with context %}

{% macro rna_quant(samples) %}
{% for sample in samples.values() if sample.glType|lower == 'rna' %}
    {{- salmon(sample) }}    
{% endfor %}

{% endmacro %}