# Quantify RNA sequecing data
{% from 'modules/rna_quant/salmon.jst' import salmon with context %}
{% from 'modules/rna_quant/star_quant.jst' import star_quant with context %}

{% macro rna_quant(samples) %}
{% for sample in samples.values() if sample.glType|lower == 'rna' %}
    {{- salmon(sample) }}
    {{- star_quant(sample) }}
{% endfor %}

{% endmacro %}