# Run Salmon RNA Quantification
{% macro salmon(sample) %}

{% set r1fqlist = [] %}
{% set r2fqlist = [] %}
{% for rgid, rg in sample.read_groups.items() %}
    {% for fq in rg.data_files|selectattr('fastqCode', 'eq', 'R1') %}
        {% do r1fqlist.append(fq.fastqPath) %}
    {% endfor %}
    {% for fq in rg.data_files|selectattr('fastqCode', 'eq', 'R2') %}
        {% do r2fqlist.append(fq.fastqPath) %}
    {% endfor %}
{% endfor %}

- name: salmon_quant_cdna_{{ sample.name }}
  methods: >
    Transcript quantification for {{ sample.name }} was performed with
    {{ constants.tools.salmon_0_8_0.verbose }} using the cDNA index.
  output: RNA/{{ sample.name }}
  cpus: 16
  walltime: "24:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.salmon_0_8_0.module }}

    mkdir -p "{{ sample.glType }}/salmon/{{ sample.name }}/"

    salmon quant \
      --threads 16 \
      --biasCorrect \
      --libType IU \
      --index "{{ constants.phoenix.reference_index_prefix }}" \
      --geneMap "{{ constants.phoenix.gtf }}" \
      -1 "{{ r1fqlist|join(',') }}"  \
      -2 "{{ r2fqlist|join(',') }}" \
      --output "{{ sample.glType }}/salmon/{{ sample.name }}/"

{% endmacro %}