{% from 'modules/read_group_line.jst' import read_group_line %}

# Run STAR RNA Alignment for quantification
{% macro star_quant(sample) %}
{% set r1fqlist = [] %}
{% set r2fqlist = [] %}
{% set rglinelist = [] %}
{% for rgid, rg in sample.read_groups.items() %}
    {% do rglinelist.append( read_group_line(rg, delim='\t') ) %}
    {% for fq in rg.data_files|selectattr('fastqCode', 'eq', 'R1') %}
        {% do r1fqlist.append(fq.fastqPath) %}
    {% endfor %}
    {% for fq in rg.data_files|selectattr('fastqCode', 'eq', 'R2') %}
        {% do r2fqlist.append(fq.fastqPath) %}
    {% endfor %}
{% endfor %}

- name: star_quant_{{ sample.name }}
  methods: >
    Transcript quantification for {{ sample.name }} was performed with
    {{ constants.tools.star_2_6_1d.verbose }} followed by TODO...
  output: {{ sample.glType }}/star-quant/{{ sample.name }}/
  cpus: 16
  walltime: "24:00:00"
  cmd: |
    set -ue
    module load {{ constants.tools.star_2_6_1d.module }}

    mkdir -p "{{ sample.glType }}/star-quant/{{ sample.name }}/"

    STAR \
      --alignIntronMin 20 \
      --alignIntronMax 1000000 \
      --alignMatesGapMax 1000000 \
      --alignSJoverhangMin 8 \
      --alignSJDBoverhangMin 1 \
      --chimSegmentMin 15 \
      --chimJunctionOverhangMin 15 \
      --genomeLoad NoSharedMemory \
      --limitOutSAMoneReadBytes 90000000 \
      --outFilterType BySJout \
      --outFilterMultimapNmax 10 \
      --outFilterMismatchNmax 10 \
      --outFilterMismatchNoverLmax 0.1 \
      --outSAMstrandField intronMotif \
      --outSAMunmapped Within \
      --outSAMmapqUnique 255 \
      --outSAMmode Full \
      --outSAMtype SAM \
      --readFilesCommand zcat \
      --runMode alignReads \
      --runThreadN 14 \
      --seedSearchStartLmax 30 \
      --genomeDir "{{ constants.phoenix.reference_index_prefix }}" \
      --readFilesIn "{{ r1fqlist|join(',') }}" "{{ r2fqlist|join(',') }}" \
      --outSAMattrRGline "{{ rglinelist|join(',') }}" \
      > "{{ sample.glType }}/star-quant/{{ sample.name }}/"


- name: htseq_{{ sample.name }}
  output: {{ sample.glType }}/htseq/{{ sample.name }}/
  cpus: 16
  walltime: "24:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.htseq_0_6_1.module }}
    
    htseq TODO

{% endmacro %}
