# Important! Strelk2 currently has problems processing genomes with a large 
# number of contigs. The workaround involves limiting the calling to major 
# contigs (1-22,X,Y,MT for example) to avoid slowdown issues.

{% macro strelka2(pair, exome=False, aligner='bwa') %}
- name: manta_somatic_{{ aligner }}_{{ pair.name }}
  methods: > 
    Structural variants (SVs) and indels for {{ pair.name }} ({{ aligner }}) were called with 
    {{ constants.tools.manta_1_4.verbose }}.
  input:
    - results/{{ pair.normal.glType }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam
    - results/{{ pair.tumor.glType }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam
  output: results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/manta/
  cpus: 28
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.manta_1_4.module }}

    # Purge any existing run files prior to starting
    rm -r "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/manta/" || true
    mkdir -p "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/manta/"

    MANTA_CONFIG=$(mktemp)

    cat <<EOF > ${MANTA_CONFIG}
    [manta]
    enableRemoteReadRetrievalForInsertionsInCancerCallingModes = 1
    EOF

    configManta.py \
      {% if exome %}
      --exome \
      {% endif %}
      --config ${MANTA_CONFIG} \
      --generateEvidenceBam \
      --normalBam "results/{{ pair.normal.glType }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam" \
      --tumorBam "results/{{ pair.tumor.glType }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam" \
      --referenceFasta "{{ constants.phoenix.reference_fasta_path }}" \
      --runDir "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/manta/"

    # Execute on the local machine with 28 parallel jobs
    "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/manta/runWorkflow.py" -m local -j 28
    rm ${MANTA_CONFIG}
 

- name: strelka2_{{ aligner }}_{{ pair.name }}
  after: manta_somatic_{{ aligner }}_{{ pair.name }}
  methods: > 
    Somatic variants for {{ pair.name }} ({{ aligner }}) were called with 
    {{ constants.tools.strelka_2_9_2.verbose }}.
  input:
    - results/{{ pair.normal.glType }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam
    - results/{{ pair.tumor.glType }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam
  output: results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/strelka2/
  cpus: 28
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.strelka_2_9_2.module }}

    # Purge any existing run files prior to starting
    rm -r "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/strelka2/" || true
    mkdir -p "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/strelka2/"

    STRELKA_CONFIG=$(mktemp)

    cat <<EOF > ${STRELKA_CONFIG}
    [manta]
    isWriteRealignedBam = 1
    EOF

    configureStrelkaSomaticWorkflow.py \
      {% if exome %}
      --exome \
      {% endif %}
      --config ${STRELKA_CONFIG} \
      --normalBam "results/{{ pair.normal.glType }}/{{ pair.normal_name }}/{{ pair.normal_name }}.{{ aligner }}.bam" \
      --tumorBam "results/{{ pair.tumor.glType }}/{{ pair.tumor_name }}/{{ pair.tumor_name }}.{{ aligner }}.bam" \
      --ref "{{ constants.phoenix.reference_fasta_path }}" \
      --runDir "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/strelka2/" \
      --indelCandidates results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/manta/results/variants/candidateSmallIndels.vcf.gz

    # Execute on the local machine with 28 parallel jobs
    "results/{{ pair.normal.glType }}/{{ pair.name }}_{{ aligner }}/strelka2/runWorkflow.py" -m local -j 28
    rm ${STRELKA_CONFIG}

{% endmacro %}
