{% macro gridss_somatic(pair, aligner='bwa') %}
{% set normal_bam %}{{ pair.normal.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{% set tumor_bam %}{{ pair.tumor.gltype }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam{% endset %}
{% set pair_dir %}{{ pair.gltype }}/somatic_structural_calls/gridss/{{ pair.name }}{% endset %}
{% set run_dir %}temp/{{ pair.gltype }}/somatic_structural_calls/gridss/{{ pair.name }}{% endset %}

- name: gridss_somatic_{{ aligner }}
  tags: [somatic, gridss]
  input:
    - {{ normal_bam }}
    - {{ tumor_bam }}
  cpus: 8
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gridss_2_6_3.module }}

    gridss CallVariants \
      -r {{ constants.phoenix.reference_fasta }} \
      -w {{ run_dir }} \
      -o {{ pair_dir }}/{{ normal_bam }}.sv.vcf \
      {{ normal_bam }} {{ tumor_bam }}

{% endmacro %}