{% from 'modules/snpeff.jst' import snpeff with context %}

{% macro lancet(pair, aligner='bwa') %}
{% do pair.callers.append('lancet') %}

{% for batch in constants.phoenix.calling_intervals %}
- name: lancet_{{ pair.name }}_{{ aligner }}_{{ loop.index }}
  tags: [lancet, {{ pair.name }}]
  input:
    - {{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam
    - {{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam
  cpus: 4
  walltime: "24:00:00"
  cmd: |
    set -uev

    module load {{ constants.tools.lancet_1_0_7.module }}
    module load {{ constants.tools.gatk_4_1_0_0.module }}
    
    mkdir -p "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/"

    # Write out the regions in this batch to a bed file
    TAB=$'\t'
    cat <<EOF > "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ loop.index }}.bed"
    {% for interval in batch %}
    {{ interval.contig }}${TAB}{{ interval.start - 1 }}${TAB}{{ interval.stop }}
    {% endfor %}
    EOF

    lancet \
      --num-threads 4 \
      --bed "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ loop.index }}.bed" \
      --ref "{{ constants.phoenix.reference_fasta }}" \
      --normal "{{ pair.normal.glType }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam" \
      --tumor "{{ pair.tumor.glType }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam" \
      > "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.lancet-uns.vcf"

    # Lancet sorts output in lexicographical order and this does not
    # match the reference fasta order. Here we resort to match the reference
    gatk SortVcf \
      --java-options "-Xmx14G" \
      --TMP_DIR "temp" \
      --SEQUENCE_DICTIONARY {{ constants.phoenix.reference_dict }} \
      --INPUT "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.lancet-uns.vcf" \
      --OUTPUT "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.lancet.vcf"

    rm "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.lancet-uns.vcf"
      
{% endfor %}


- name: lancet_merge_chunks_{{ pair.name }}_{{ aligner }}
  tags: [bcftools, concat, {{ pair.glType }}]
  after: 
    re: lancet_{{ pair.name }}_{{ aligner }}_.*
  output: {{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.all.vcf.gz
  cpus: 4
  mem: 16G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/"

    bcftools concat \
      -O z \
      -o "{{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.all.vcf.gz" \
      {% for b in constants.phoenix.calling_intervals %}
      "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/{{ pair.name }}_{{ loop.index }}.{{ aligner }}.lancet.vcf" \
      {% endfor %}

    {% if not debug %}
    rm -r "temp/{{ pair.name }}_{{ aligner }}_lancet_vcf_chunks/"
    # This version of Lancet leaves behind a config.txt file in the top 
    # of the project dir. This was patched in a later versions so that
    # we can remove later.
    rm config.txt || true
    {% endif %}


- name: lancet_filter_variants_{{ pair.name }}_{{ aligner }}
  tags: [bcftools, filter, {{ pair.glType }}]
  input:
    - {{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.all.vcf.gz
  output:
    - {{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.pass.vcf.gz
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools index -t "{{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.all.vcf.gz"

    bcftools filter \
      -O z \
      -i 'FILTER == "PASS"' \
      {% if pair.glType|lower == 'exome' %}
      --regions-file "{{ pair.normal.capture_kit.extended_bed }}" \
      {% endif %}
      "{{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.all.vcf.gz" \
      > "{{ pair.glType }}/somatic_variant_calls/lancet/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.lancet.pass.vcf.gz"


{% endmacro %}
