{% from 'utilities/remove_files.jst' import remove_files with context %}

{% macro manta_somatic(pair, aligner='bwa') %}
{% set normal_bam %}{{ pair.normal.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{% set tumor_bam %}{{ pair.tumor.gltype }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam{% endset %}
{% set results_dir %}{{ pair.gltype }}/somatic_structural_calls/manta/{{ pair.name }}{% endset %}
{% set temp_dir %}temp/{{ pair.gltype }}/somatic_structural_calls/manta/{{ pair.name }}{% endset %}
{# TODO: Update the following path to make it dynamic #}
{% set summary_samtools_stats %}/scratch/clegendre/projects/MMRF_2952/MMRF_2952_1_BM_CD138pos_T1_KHWGS.bwa.bam_samtools_insertSize_summary.tsv{% endset %}

- name: manta_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, structural_caller, manta, {{ pair.name }}]
  tags: [manta, manta-somatic, {{ pair.gltype }}]
  methods: > 
    Somatic structural variants and indels for {{ pair.name }} ({{ aligner }}) 
    were called with {{ constants.tools.manta.verbose }}.
  input:
    - {{ normal_bam }}
    - {{ tumor_bam }}
  output: 
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSmallIndels.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSmallIndels.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSV.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSV.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.diploidSV.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.diploidSV.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.vcf.gz.tbi
  cpus: 20
  mem: 80G
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.manta.module }}
    module load {{ constants.tools.htslib.module }}
    module load {{ constants.tools.python_2_7_15.module }}

    {# Purge any existing run files prior to starting #}
    rm -r "{{ temp_dir }}" || true
    mkdir -p "{{ temp_dir }}"

    {#
    # In order to restrict calling to only the specified regions
    # Manta requires a bed file (that has been bgzipped and indexed
    # with tabix). Here we generate that file on the fly, store in
    # the run dir, and pass the path to Manta.
    #}
    MANTA_BED="{{ temp_dir }}/callRegions.bed"
    TAB=$'\t'
    cat <<EOF > "${MANTA_BED}"
    {% for contig in constants.phoenix.calling_contigs %}
    {{ contig.contig }}${TAB}0${TAB}{{ contig.length }}
    {% endfor %}
    EOF

    bgzip -f "${MANTA_BED}"
    tabix -f -p bed "${MANTA_BED}.gz"

    {#
    # Some settings are only configurable via tha ini file. Here
    # we generate this ini file and save it to the run dir.
    #}
    MANTA_CONFIG="{{ temp_dir }}/config.ini"
    cat <<EOF > "${MANTA_CONFIG}"
    [manta]
    enableRemoteReadRetrievalForInsertionsInCancerCallingModes = 1
    EOF

    {# Build the Manta run file #}
    configManta.py \
      {% if pair.gltype == 'exome' %}
      --exome \
      {% endif %}
      --callRegions "${MANTA_BED}.gz" \
      --config "${MANTA_CONFIG}" \
      --normalBam "{{ normal_bam }}" \
      --tumorBam "{{ tumor_bam }}" \
      --referenceFasta "{{ constants.phoenix.reference_fasta }}" \
      --runDir "{{ temp_dir }}"

    {# Execute on the local machine with 19 parallel jobs #}
    "{{ temp_dir }}/runWorkflow.py" -m local -j 19



- name: manta_flag_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, manta, flag, {{ pair.name }}]
  after: manta_{{ pair.name }}_{{ aligner }}
  reset: predecessors
  input:
    - {{ temp_dir }}/results/variants/somaticSV.vcf.gz
    - {{ temp_dir }}/results/variants/somaticSV.vcf.gz.tbi
    - {{ tumor_bam }}
    - {{ normal_bam }}
    - {{ summary_samtools_stats }}
  output:
    - {{ temp_dir }}/results/variants/somaticSV.pass.vcf.gz
    - {{ temp_dir }}/results/variants/somaticSV.pass.vcf.gz.tbi
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz.tbi
  cpus: 4
  mem: 8G
  walltime: "12:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.bcftools.module }}
    module load {{ constants.tools.python_3_7_2.module }}
    module load {{ constants.tools.bedtools.module }}

    {# filtering somatic vcf by PASS #}
    bcftools filter -i PASS -O z -o {{ temp_dir }}/results/variants/somaticSV.vcf.gz
    bcftools index --threads 2 --tbi --force {{ temp_dir }}/results/variants/somaticSV.pass.vcf.gz

    {# Capturing the insert_size and its standard deviation from sumamry samtools stats file #}

    INSERT_SIZE=$(cat {{ summary_samtools_stats }} | tail -n 1 | cut -f9 )
    STD_IS=$(cat {{ summary_samtools_stats }} | tail -n 1 | cut -f11 )
    echo -e "----------------"
    echo ${INSERT_SIZE}
    echo ${STD_IS}
    echo -e "----------------"
    {# adding fields and flags to pass.vcf.gz file #}
    {% set temp_dir_pass_vcf %}{{ temp_dir }}/results/variants/somaticSV.pass.vcf{% endset %}

    python3 ${PATH_TO_PHOENIX_REPO}/required_scripts/{{ constants.phoenix.manta_prepare_sv_vcf }} \
      -i {{ temp_dir }}/results/variants/somaticSV.pass.vcf \
      -t {{ tumor_bam }} \
      -n {{ normal_bam }} \
      --insert-size ${INSERT_SIZE} \
      --sigma ${STD_IS} \
      --minmapq 15 \
      --output  {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf

    {# compress vcf to vcf.gz #}
    bcftools view --threads 2 -O z -o {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf
    bcftools index --threads 2 --tbi --force {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz



- name: manta_annotate_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, manta, flag, gene, annotation, {{ pair.name }}]
  after: manta_flag_{{ pair.name }}_{{ aligner }}
  reset: predecessors
  input:
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz.tbi
    - {{ constants.phoenix.delly_annotation }}
  output:
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz.tbi

  cpus: 8
  mem: 16G
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.bcftools.module }}
    module load {{ constants.tools.python_3_7_2.module }}
    module load {{ constants.tools.bedtools.module }}


    mkdir -p {{ temp_dir }}/pybedtools/ || true

    python ${PATH_TO_PHOENIX_REPO}/required_scripts/{{ constants.phoenix.manta_gene_annotation_parallel }} \
      -a {{ constants.phoenix.delly_annotation }} \
      -i {{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz \
      -o {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf \
      --threads 8 \
      --tempdir {{ temp_dir }}/pybedtools/


    bcftools view --threads 2 -O z -o {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf
    bcftools index --threads 2 --tbi --force {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz



- name: manta_filter_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, manta, {{ pair.name }}]
  after: manta_annotate_{{ pair.name }}_{{ aligner }}
  reset: predecessors
  input:
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz
    - {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz.tbi
  output:
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSmallIndels.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSmallIndels.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSV.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSV.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.diploidSV.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.diploidSV.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.vcf.gz.tbi
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.filt.vcf.gz
    - {{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.filt.vcf.gz.tbi
  cpus: 2
  mem: 4G
  walltime: "01:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.bcftools.module }}
    module load {{ constants.tools.python_3_7_2.module }}
    module load {{ constants.tools.bedtools.module }}

    bcftools filter \
      --exclude 'FMT/PR[0] > 2 | FMT/PR[1] < 5 | FMT/RDISTDISC1[0] < 200 | FMT/RDISTDISC2[0] < 200 | FMT/RUT1[1] < 0.50 | FMT/RUT2[1] < 0.50 '
      -O z \
      -o {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.filt.vcf.gz \
      {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz

    bcftools index --threads 2 --tbi --force {{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.filt.vcf.gz



    {# Save all the vcs in the sample dir #}
    mkdir -p "{{ results_dir }}" || true

    cp "{{ temp_dir }}/results/variants/candidateSmallIndels.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSmallIndels.vcf.gz"
    cp "{{ temp_dir }}/results/variants/candidateSmallIndels.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSmallIndels.vcf.gz.tbi"
    cp "{{ temp_dir }}/results/variants/candidateSV.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSV.vcf.gz"
    cp "{{ temp_dir }}/results/variants/candidateSV.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.candidateSV.vcf.gz.tbi"
    cp "{{ temp_dir }}/results/variants/diploidSV.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.diploidSV.vcf.gz"
    cp "{{ temp_dir }}/results/variants/diploidSV.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.diploidSV.vcf.gz.tbi"
    cp "{{ temp_dir }}/results/variants/somaticSV.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.vcf.gz"
    cp "{{ temp_dir }}/results/variants/somaticSV.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.vcf.gz.tbi"
    {# new manta somaticSV files #}}
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.vcf.gz"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.vcf.gz.tbi"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.vcf.gz"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.flag.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.vcf.gz.tbi"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.vcf.gz"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.vcf.gz.tbi"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.filt.vcf.gz" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.filt.vcf.gz"
    cp "{{ temp_dir }}/results/variants/somaticSV.pass.flag.anno.filt.vcf.gz.tbi" "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.manta.somaticSV.pass.flag.anno.filt.vcf.gz.tbi"



    {# Remove the remaining files #}
    {# {% set task %}manta_{{ pair.name }}_{{ aligner }}{% endset %}  #}
    {# {% set directory %}{{ temp_dir }}{% endset %}  #}
    {# {{- remove_files(directory,none,task) }}  #}

{% endmacro %}