{% macro octopus_somatic(pair, aligner='bwa') %}
{% set normal_bam %}{{ pair.normal.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{% set tumor_bam %}{{ pair.tumor.gltype }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam{% endset %}
{% set temp_dir %}temp/{{ pair.gltype }}/somatic_variant_calls/octopus/{{ pair.name }}_{{ aligner }}{% endset %}
{% set results_dir %}{{ pair.gltype }}/somatic_variant_calls/octopus/{{ pair.name }}{% endset %}
{% set all_vcf %}{{ results_dir }}/{{ pair.name }}.{{ aligner }}.octopus.all.vcf.gz{% endset %}
{% set pass_vcf %}{{ results_dir }}/{{ pair.name }}.{{ aligner }}.octopus.pass.vcf.gz{% endset %}

{% for batch in constants.phoenix.calling_intervals %}
- name: octopus_somatic_{{ pair.name }}_{{ aligner }}_{{ loop.index }}
  tags: [octopus_somatic, {{ pair.gltype }}]
  input:
    - {{ normal_bam }}
    - {{ tumor_bam }}
  cpus: 8
  mem: 32G
  walltime: "24:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.octopus_0_6_0b.module }}
    
    mkdir -p "{{ temp_dir }}"
    
    # Write out the regions in this batch to a bed file
    TAB=$'\t'
    cat <<EOF > "{{ temp_dir }}/{{ loop.index }}.bed"
    {% for interval in batch %}
    {{ interval.contig }}${TAB}{{ interval.start - 1 }}${TAB}{{ interval.stop }}
    {% endfor %}
    EOF
    
    # Somatic calling with octopus
    octopus \
      --caller cancer \
      --threads 8 \
      --max-reference-cache-footprint 750MB \
      --assembly-candidate-generator ON \
      --somatics-only OFF \
      --phasing-level minimal \
      --legacy \
      --annotations AD ADP AF \
      --reference "{{ constants.phoenix.reference_fasta }}" \
      --regions-file "{{ temp_dir }}/{{ loop.index }}.bed" \
      --reads "{{ normal_bam }}" "{{ tumor_bam }}" \
      --normal-sample "{{ pair.normal.rgsm }}" \
      --temp-directory-prefix "{{ temp_dir }}/{{ loop.index }}" \
      --bamout "{{ temp_dir }}/{{ loop.index }}.realigned.bam" \
      --output "{{ temp_dir }}/{{ loop.index }}.octopus.vcf"
      
{% endfor %}


- name: octopus_somatic_merge_chunks_{{ pair.name }}_{{ aligner }}
  tags: [bcftools, concat, octopus_somatic, {{ pair.gltype }}]
  after-re: octopus_somatic_{{ pair.name }}_{{ aligner }}_.*
  output: {{ all_vcf }}
  cpus: 4
  mem: 16G
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ results_dir }}"

    bcftools concat \
      -O z \
      -o "{{ results_dir }}/{{ pair.name }}.{{ aligner }}.octopus.all.vcf.gz" \
      {% for b in constants.phoenix.calling_intervals %}
      "{{ temp_dir }}/{{ loop.index }}.octopus.legacy.vcf" \
      {% endfor %}

    bcftools index -t "{{ all_vcf }}"

    {% if not debug %}
    rm -r "temp/{{ pair.name }}_{{ aligner }}_octopus_somatic_vcf_chunks/"
    {% endif %}


- name: octopus_somatic_filter_variants_{{ pair.name }}_{{ aligner }}
  tags: [bcftools, filter, {{ pair.gltype }}]
  after: octopus_somatic_merge_chunks_{{ pair.name }}_{{ aligner }}
  output: {{ pass_vcf }}
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools filter \
      -O z \
      -i 'FILTER == "PASS"' \
      {% if pair.gltype == 'exome' %}
      --regions-file "{{ pair.normal.capture_kit.extended_bed }}" \
      {% endif %}
      "{{ all_vcf }}" \
      > "{{ pass_vcf }}"
    
    bcftools index -tf "{{ pass_vcf }}"


{% endmacro %}
