{% macro tconut(pair, aligner='bwa') %}
{% set normal_bam %}{{ pair.normal.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{% set tumor_bam %}{{ pair.tumor.gltype }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam{% endset %}
{% set pair_dir %}{{ pair.gltype }}/somatic_copy_number/tconut/{{ pair.name }}{% endset %}
{% set run_dir %}temp/{{ pair.gltype }}/somatic_variant_calls/tconut/{{ pair.name }}_{{ aligner }}{% endset %}
{% set tconut_vcf %}{{ pair_dir }}/{{ pair.name }}.{{ aligner }}.tconut.vcf.gz{% endset %}

- name: tconut_call_snvs_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, cna_caller, tCoNuT, {{ pair.name }}]
  input:
    - {{ normal_bam }}
    - {{ tumor_bam }}
  cpus: 20
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.strelka_2_9_2.module }}
    module load {{ constants.tools.samtools_1_9.module }}
    module load {{ constants.tools.python_2_7_15.module }}

    {# Purge any existing run files prior to starting #}
    rm -r "{{ run_dir }}" || true
    mkdir -p "{{ run_dir }}"

    {#
    # In order to restrict calling to only the specified regions
    # strelka requires a bed file (that has been bgzipped and indexed
    # with tabix). Here we generate that file on the fly, store in
    # the run dir, and pass the path to Strelka2.
    #}
    TAB=$'\t'
    cat <<EOF > "{{ run_dir }}/callRegions.bed"
    {% for contig in constants.phoenix.calling_contigs %}
    {{ contig.contig }}${TAB}0${TAB}{{ contig.length }}
    {% endfor %}
    EOF

    bgzip -f "{{ run_dir }}/callRegions.bed"
    tabix -f -p bed "{{ run_dir }}/callRegions.bed.gz"

    {# Build the Strelka run file #}
    configureStrelkaGermlineWorkflow.py \
      {% if pair.gltype == 'exome' %}
      --exome \
      {% endif %}
      --ref "{{ constants.phoenix.reference_fasta }}" \
      --callRegions "{{ run_dir }}/callRegions.bed.gz" \
      --bam "{{ normal_bam }}" \
      --bam "{{ tumor_bam }}" \
      --runDir "{{ run_dir }}"

    {# Execute on the local machine #}
    "{{ run_dir }}/runWorkflow.py" -m local -j 19


- name: tconut_annotate_snvs_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, cna_caller, tCoNuT, {{ pair.name }}]
  after: tconut_call_snvs_{{ pair.name }}_{{ aligner }}
  output: {{ tconut_vcf }}
  cpus: 2
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.samtools_1_9.module }}

    mkdir -p "{{ pair_dir }}"
    
    {# Filter and annotate the snv vcf #}
    bcftools annotate \
      --threads 2 \
      -O z \
      -a "{{ constants.phoenix.dbsnp_v152 }}" \
      -c "ID,+INFO" \
      "{{ run_dir }}/results/variants/variants.vcf.gz" \
      -o "{{ tconut_vcf }}"

    bcftools index -tf "{{ tconut_vcf }}"

    {# Finally remove the run dir #}
    rm -r "{{ run_dir }}"


{% endmacro %}