{% macro thred_somatic(pair, aligner='bwa') %}

{% set input_seg %}{{ pair.gltype }}/somatic_copy_number/gatk/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.re_centered.cr.igv.seg{% endset %}

- name: thred_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, HRD, {{ pair.name }}]
  input:
    - {{ input_seg }}
  cpus: 4
  mem: 8G
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.python_3_7_2.module }}
    module load {{ constants.tools.thred.module }}

    {# Purge any existing run files prior to starting #}
    rm -r "{{ temp_dir }}" || true
    mkdir -p "{{ temp_dir }}"

    tHRed.py \
      --genomic-regions {{ constants.phoenix.centromere }} \
      --seg {{ input_seg }} \
      --sample {{ pair.name }} \
      --outfile {{ results_dir }}/{{ pair.name }}_hrd_scores.txt \
      --dir-out {{ results_dir }} \
      --th-log2r -0.1613 \
      --minsize 1000000 \
      --th-pct-overlapping 0.90 \
      --plots \
      --exclude-contigs "chrX,chrY,chrM"
