~clegendre/tmp/VarDict-1.6.0/bin/VarDict -th 4 -b "/scratch/rrichholt/Phoenix-387643c/NMTRC_0002_tgen/exome/alignment/bwa/NMTRC_0002_1_PB_Whole_C1_KHSTX/NMTRC_0002_1_PB_Whole_C1_KHSTX.bwa.bam|/scratch/rrichholt/Phoenix-387643c/NMTRC_0002_tgen/exome/alignment/bwa/NMTRC_0002_2_AG_Whole_T1_KHSTX/NMTRC_0002_2_AG_Whole_T1_KHSTX.bwa.bam" -R chr1:1-1000000 -G /home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/genome_reference/GRCh38tgen_decoy_alts_hla.fa -f 0.01 -t --nosv -B 5 -Q 20 