{% from 'modules/annotation/main.jst' import annotate_vcfs with context %}

{% macro vcfmerger2(pair, aligner='bwa', taskPrefix='Genome') %}

{% set normal_bam %}{{ pair.normal.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{% set temp_dir %}temp/{{ pair.gltype }}/somatic_variant_calls/vcfmerger2/{{ pair.name }}_{{ aligner }}{% endset %}
{% set results_dir %}{{ pair.gltype }}/somatic_variant_calls/vcfmerger2/{{ pair.name }}{% endset %}
{% set merged_vcf %}{{ temp_dir }}/{{ pair.name }}.merged.vcf{% endset %}
{% set merged_rna_vcf %}{{ results_dir }}/{{ pair.name }}.merged.vcf{% endset %}
{% set ann_vcf %}{{ results_dir }}/{{ pair.name }}.merged.ann.vcf.gz{% endset %}

{% set vcfs_to_merge=[] %}

# Here we iterate over the callers for each pair calculating the necessary
# paths. Callers add themselves to the pair object when their macro is used.
{% for caller in pair.callers %}
{% set bam %}{{ pair.normal.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{% set gzipped_path %}{{ pair.gltype }}/somatic_variant_calls/{{ caller }}/{{ pair.name }}/{{ pair.name }}.{{ aligner }}.{{ caller }}.pass.vcf.gz{% endset %}
{% set unzipped_path %}{{ temp_dir }}/{{ caller }}.vcf{% endset %}
{% set prepped_path %}{{ temp_dir }}/{{ caller }}.prepz.vcf{% endset %}
{% set filtered_path %}{{ temp_dir }}/{{ caller }}.filt.vcf{% endset %}
{% do vcfs_to_merge.append({
  'normal_bam': normal_bam,
  'gzipped_path': gzipped_path, 
  'unzipped_path': unzipped_path,
  'prepped_path': prepped_path,
  'filtered_path': filtered_path
}) %}

- name: vcfmerger2_prep_{{ caller }}_{{ pair.name }}_{{ aligner }}
  tags: [vcfMerger2, {{ pair.name }}]
  input: {{ gzipped_path }}
  cpus: 2
  walltime: "4:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}
    module load {{ constants.tools.python_3_6_0.module }}
    module load {{ constants.tools.bedtools_2_26_0.module }}
    module load {{ constants.tools.rstats_3_4_1.module }}
    module load {{ constants.tools.vcfmerger2_0_7_0.module }}
    
    mkdir -p "{{ temp_dir }}"
    gunzip -c "{{ gzipped_path }}" > "{{ unzipped_path }}"

    # Locate the prep_vcf.sh script relative to vcfMerger2.py
    PREPVCF="$(dirname $(dirname $(which vcfMerger2.py)))"/prep_vcfs/prep_vcf.sh
    
    ${PREPVCF} \
      -g "{{ constants.phoenix.reference_fasta }}" \
      -d "{{ temp_dir }}" \
      --bam "{{ bam }}" \
      --toolname "{{ caller }}" \
      --normal-sname "{{ pair.normal.rgsm }}" \
      --tumor-sname "{{ pair.tumor.rgsm }}" \
      --vcf "{{ unzipped_path }}" \
      -o "{{ prepped_path }}"


- name: vcfmerger2_filter_{{ caller }}_{{ pair.name }}_{{ aligner }}
  tags: [vcfMerger2, {{ pair.name }}]
  after: vcfmerger2_prep_{{ caller }}_{{ pair.name }}_{{ aligner }}
  cpus: 2
  walltime: "24:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools filter \
      -O v \
      --exclude 'FMT/DP<10 | FMT/AR[0]>=0.02 | FMT/AR[1]<0.05' \
      "{{ prepped_path }}" \
      > "{{ filtered_path }}"

{% endfor %}


- name: vcfmerger2_{{ pair.name }}_{{ aligner }}
  tags: [vcfMerger2, {{ pair.name }}]
  after:
  {% for caller in pair.callers %}
    - vcfmerger2_filter_{{ caller }}_{{ pair.name }}_{{ aligner }}
  {% endfor %}
  output: {{ merged_vcf }}
  cpus: 4
  walltime: "24:00:00"
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}
    module load {{ constants.tools.python_3_6_0.module }}
    module load {{ constants.tools.bedtools_2_26_0.module }}
    module load {{ constants.tools.rstats_3_4_1.module }}
    module load {{ constants.tools.vcfmerger2_0_7_0.module }}

    mkdir -p "{{ results_dir }}"
    
    vcfMerger2.py \
      --do-venn \
      --skip-prep-vcfs \
      --precedence "{{ pair.callers|join('|') }}" \
      --toolnames "{{ pair.callers|join('|') }}" \
      --vcfs "{{ vcfs_to_merge|map(attribute='filtered_path')|join('|') }}" \
      -g "{{ constants.phoenix.reference_fasta }}" \
      --normal-sname "{{ pair.normal.rgsm }}" \
      --tumor-sname "{{ pair.tumor.rgsm }}" \
      -d "{{ temp_dir }}" \
      -o "{{ merged_vcf }}"

    chmod -R 755 "{{ temp_dir }}/venn"*"/sets"
    mv "{{ temp_dir }}/venn"* "{{ results_dir }}"

    #TODO add rna header to vcf and rna counts if available
    mv "{{ merged_vcf }}" "{{ merged_rna_vcf }}"


{%- set after_task = 'vcfmerger2_'+pair.name+'_'+aligner %}
{{- annotate_vcfs(sample, temp_dir, results_dir, after_task, merged_rna_vcf, taskPrefix, aligner, 'merged.rna', 'somatic') }}
{% endmacro %}
