{% macro snpeff(input_vcf, output_vcf) %}

- name: snpeff_{{ input_vcf|sha256 }}
  tags: [snpeff, annotation]
  input: {{ input_vcf }}
  output: {{ output_vcf }}
  walltime: "8:00:00"
  cpus: 4
  cmd: |
    set -euv
    set -o pipefail

    module load {{ constants.tools.snpeff_4_3t.module }}
    module load {{ constants.tools.samtools_1_9.module }}

    snpEff eff \
      -t \
      -c "{{ constants.phoenix.snpeff_config }}" \
      -dataDir "{{ constants.phoenix.snpeff_data }}" \
      "{{ constants.phoenix.snpeff_db }}" \
      "{{ input_vcf }}" |\
    bcftools view -O z - -o "{{ output_vcf }}"

    bcftools index -tf "{{ output_vcf }}"

{% endmacro %}
