{% macro spliceai(vcf, out) %}
{% set temp_vcf %}temp/{{ vcf|sha256 }}.vcf{% endset %}
- name: spliceai_{{ vcf|sha256 }}
  tags: [ spliceai, annotate_vcfs]
  input: {{ vcf }}
  sbatch_args: ['-p', 'gpu', '--gres', 'gpu:1', '-c', '10']
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.python_3_6_0.module }}
    module load {{ constants.tools.cuda_toolkit_10_0_0.module }}

    {# No long options available for the following:
      -A      Gene annotation file
      -R      Reference genome fasta file
      -I      Input VCF with variants of interest
      -O      Output VCF with SpliceAI predictions
    #}

    spliceai \
      -A grch38 \
      -R "{{ constants.phoenix.reference_fasta }}" \
      -I "{{ vcf }}" \
      -O "{{ temp_vcf }}" \


- name: spliceai_filter_{{ vcf|sha256 }}
  tags: [ spliceai, annotate_vcfs]
  after: spliceai_{{ vcf|sha256 }}
  output: {{ out }}
  cpus: 2
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.samtools_1_9.module }}

    bcftools filter \
      --output-type z \
      --include 'INFO/SpliceAI != "."' \
      --output "{{ out }}" \
      "{{ temp_vcf }}"

    rm "{{ temp_vcf }}"

{% endmacro %}
