{% macro vep(input_vcf, output_vcf) %}
- name: vep_{{ input_vcf|sha256 }}
  tags: [vep, annotation]
  input: {{ input_vcf }}
  output: {{ output_vcf }}
  walltime: "8:00:00"
  cpus: 4
  cmd: |
    set -euv

    module load {{ constants.tools.perlvepTODO }}
   
    vep \
      -I "{{ vcf }}" \
      -O "{{ out }}" 

{% endmacro %}
