{% macro rna_bam_qc(sample, aligner='star') %}
{% set stats_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}
{% set bam_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.star.bam{% endset %}
{% set cram_path %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.star.cram{% endset %}

- name: cram_{{ sample.name }}_{{ aligner }}
  input: {{ bam_path }}
  output: {{ cram_path }}
  walltime: "8:00:00"
  cpus: 1
  cmd: |
    set -uev
    module load {{ constants.tools.samtools_1_9.module }}

    samtools view \
      -C \
      -T  "{{ constants.phoenix.reference_fasta }}" \
      "{{ bam_path }}" > "{{ cram_path }}"

    samtools index "{{ cram_path }}"


- name: gatk_collectrnaseqmetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectrnaseqmetrics, {{ sample.gltype }}]
  input: {{ bam_path }}
  walltime: "8:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    # NONE
    # FIRST_READ_TRANSCRIPTION_STRAND
    # SECOND_READ_TRANSCRIPTION_STRAND
    gatk CollectRnaSeqMetrics \
      --IGNORE_SEQUENCE ZZZ \
      --STRAND_SPECIFICITY NONE \
      --VALIDATION_STRINGENCY LENIENT \
      --REF_FLAT "{{ constants.phoenix.ref_flat }}" \
      --RIBOSOMAL_INTERVALS "{{ constants.phoenix.ribo_locations }}" \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ sample.name }}.RNA_Metrics.txt"


{% endmacro %}
