{% macro rna_bam_qc(sample, aligner='star') %}
{% set bam_path %}{{ sample.glType }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}_Aligned.out.bam{% endset %}
{% set stats_dir %}{{ sample.glType }}/alignment/{{ aligner }}/{{ sample.name }}/stats{% endset %}

- name: gatk_collectrnaseqmetrics_{{ sample.name }}_{{ aligner }}
  tags: [gatk, picard, collectrnaseqmetrics, {{ sample.gltype }}]
  input: {{ bam_path }}
  walltime: "8:00:00"
  cpus: 16
  cmd: |
    set -uev
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    mkdir -p "{{ stats_dir }}"

    # NONE
    # FIRST_READ_TRANSCRIPTION_STRAND
    # SECOND_READ_TRANSCRIPTION_STRAND

    CollectRnaSeqMetrics \
      --STRAND_SPECIFICITY NONE \
      --REF_FLAT "{{ constants.phoenix.ref_flat }}" \
      --RIBOSOMAL_INTERVALS "{{ constants.phoenix.ribo_locations }}" \
      --INPUT "{{ bam_path }}" \
      --OUTPUT "{{ stats_dir }}/{{ sample.name }}.RNA_Metrics.txt"


{% endmacro %}
