{% from 'modules/rna/star_fusion.jst' import star_fusion with context %}
{% from 'modules/rna/salmon.jst' import salmon with context %}
{% from 'modules/rna/star_quant.jst' import star_quant with context %}
{% from 'modules/rna/bam_qc.jst' import rna_bam_qc with context %}


{% macro rna_fusion_detection(samples) %}
{% for sample in samples.values() if sample.gltype|lower == 'rna' %}
    {{- star_fusion(sample) }}    
{% endfor %}
{% endmacro %}

{% macro rna_quant(samples) %}
{% for sample in samples.values() if sample.gltype|lower == 'rna' %}
    {{- salmon(sample) }}
    {{- star_quant(sample) }}
    {{- rna_bam_qc(sample, aligner='star') }}
{% endfor %}

{% endmacro %}
