{% from 'utilities/remove_files.jst' import remove_files with context %}

# Run Salmon RNA Quantification
{% macro salmon(sample) %}
{% set temp_dir %}temp/{{ sample.gltype }}/quant/salmon/{{ sample.name }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/quant/salmon/{{ sample.name }}{% endset %}

{% set r1fqlist = [] %}
{% set r2fqlist = [] %}
{% for rgid, rg in sample.read_groups.items() %}
    {% for fq in rg.data_files|selectattr('fastqCode', 'eq', 'R1') %}
        {% do r1fqlist.append('"temp/fastqs/' + (fq.basename) + '"') %}
    {% endfor %}
    {% for fq in rg.data_files|selectattr('fastqCode', 'eq', 'R2') %}
        {% do r2fqlist.append('"temp/fastqs/' + (fq.basename) + '"') %}
    {% endfor %}
{% endfor %}

- name: salmon_quant_cdna_{{ sample.name }}
  tags: [{{ sample.gltype }}, transcriptome, quantify_expression, salmon_fastqs, {{ sample.name }}]
  methods: >
    Transcript quantification for {{ sample.name }} was performed with
    {{ constants.tools.salmon.verbose }} using the cDNA index.
  input:
  {% for fq in r1fqlist %}
    - {{ fq }}
  {% endfor %}
  {% for fq in r2fqlist %}
    - {{ fq }}
  {% endfor %}
  output:
    - {{ results_dir }}/{{ sample.name }}.transcripts.sf
    - {{ results_dir }}/{{ sample.name }}.genes.sf
    - {{ results_dir }}/{{ sample.name }}.counts.json
  cpus: 10
  mem: 32G
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.salmon.module }}

    mkdir -p "{{ temp_dir }}"
    mkdir -p "{{ results_dir }}"

    salmon quant \
      --validateMappings \
      --seqBias \
      --gcBias \
      --threads 10 \
      --libType "{{ constants.phoenix.strandedness_options[sample.strandedness].salmon }}" \
      --index "{{ constants.phoenix.salmon_index }}" \
      --geneMap "{{ constants.phoenix.gtf }}" \
      -1 {{ r1fqlist|join(' ') }} \
      {% if r2fqlist %}
      -2 {{ r2fqlist|join(' ') }} \
      {% endif %}
      --output "{{ temp_dir }}"

    {# Save back what we need and nuke the rest #}
    mv "{{ temp_dir }}/quant.sf" "{{ results_dir }}/{{ sample.name }}.transcripts.sf"
    mv "{{ temp_dir }}/quant.genes.sf" "{{ results_dir }}/{{ sample.name }}.genes.sf"
    mv "{{ temp_dir }}/lib_format_counts.json" "{{ results_dir }}/{{ sample.name }}.counts.json"

    {# Remove the remaining files #}
    {% set task %}salmon_quant_cdna_{{ sample.name }}{% endset %}
    {% set directory %}{{ temp_dir }}{% endset %}
    {{- remove_files(directory,none,task) }}

{% endmacro %}