# Run STAR-Fusion for detecting gene fusions
{% macro star_fusion(sample) %}

{%- set r1fqlist = [] %}
{% set r2fqlist = [] %}
{% for rgid, rg in sample.read_groups.items() %}
  {% if rg.data_files|length < 2 %}
      {{ raise('This module only supports paired-end data with two fastqs per rg') }}
  {% endif %}
  {% set r1fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R1')|first %}
  {% set r2fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R2')|first %}
  {% do r1fqlist.append(r1fastq) %}
  {% do r2fqlist.append(r2fastq) %}
{% endfor -%}

- name: star_fusion_{{ sample.name }}
  tags: [{{ sample.gltype }}, transcriptome, fusion_caller, STAR_Fusion, {{ sample.name }}]
  input:
  {% for fq in r1fqlist %}
    - temp/fastqs/{{ fq.basename }}
  {% endfor %}
  {% for fq in r2fqlist %}
    - temp/fastqs/{{ fq.basename }}
  {% endfor %}
  output: {{ sample.gltype }}/fusions/star-fusion/{{ sample.name }}/
  cpus: 20
  mem: 60G
  walltime: "24:00:00"
  cmd: |
    set -eu
    set -o pipefail
    module load {{ constants.tools.star_fusion_1_8_1.module }}
    module load {{ constants.tools.samtools_1_9.module }}

    {#
    # Here we purge any existing run data prior to starting.
    # STAR-Fusion keeps track of progress with checkpoint files 
    # stored in the run dir. If they're present, steps in the 
    # workflow will be skipped. For example, if the fastq inputs 
    # changed, alignment will not be rerun properly unless these
    # files are removed first.
    #}
    OUTDIR="{{ sample.gltype }}/fusions/star-fusion/{{ sample.name }}/"
    rm -r "${OUTDIR}" || true
    mkdir -p "${OUTDIR}"

    STAR-Fusion \
      --CPU 20 \
      --genome_lib_dir "{{ constants.phoenix.starfusion_index }}" \
      --left_fq {% for fq in r1fqlist %}"temp/fastqs/{{ fq.basename }}"{% if not loop.last%},{% endif %}{% endfor %} \
      --right_fq {% for fq in r2fqlist %}"temp/fastqs/{{ fq.basename }}"{% if not loop.last%},{% endif %}{% endfor %} \
      --output_dir "${OUTDIR}"
{% endmacro -%}
