
{% macro expansion_hunter(sample, aligner='bwa') %}
{% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set results_dir %}{{ sample.gltype }}/constitutional_structural_calls/expansion_hunter/{{ sample.name }}% endset %}

- name: expansion_hunter_{{ aligner }}_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, repeats, expansion, SRT, {{ sample.name }}]
  input:
    - {{ bam }}
  output:
    - {{ results_dir }}/{{ sample.name }}.expansion_hunter.json
    - {{ results_dir }}/{{ sample.name }}.expansion_hunter.vcf
  walltime: "8:00:00"
  cpus: 1
  mem: 2G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.expansion_hunter.module }}

    {# The variant catalog is in the install path, we grab the path here #}
    {# ExpansionHunter is in a /bin directory, we want to go one level higher #}
    eh_path=$(dirname $(dirname `which ExpansionHunter`))

    ExpansionHunter \
      --reads {{ bam }} \
      --reference {{ constants.phoenix.reference_fasta }} \
      --variant-catalog ${eh_path}/variant_catalog/grch38/variant_catalog.json \
      --output-prefix {{ results_dir }}/{{ sample.name }}.expansion_hunter

{% endmacro %}
