{% from 'utilities/remove_files.jst' import remove_files with context %}

# Call constitutional variants with haplotype caller. In order to call
# variants, this step must be followed with genotype gvcfs task.
{% macro haplotypecallergvcf(sample, aligner='bwa', taskPrefix='Genome') %}
{% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set temp_dir %}temp/{{ sample.gltype }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}_{{ aligner }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}{% endset %}
{% set gvcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.hc.g.vcf.gz{% endset %}

{% for batch in constants.phoenix.calling_intervals %}
- name: haplotypecaller_gvcf_{{ sample.name }}_{{ aligner }}_{{ loop.index }}
  tags: [{{ sample.gltype}}, constitutional, snp_indel_caller, gatk_HaplotypeCaller, {{ sample.name }}]
  input: {{ bam }}
  output: {{ temp_dir }}/{{ loop.index }}.g.vcf.gz
  walltime: "24:00:00"
  cpus: 2
  mem: 16G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}

    mkdir -p "{{ temp_dir }}"

    gatk HaplotypeCaller \
      --java-options "-Xmx14G" \
      -ERC GVCF \
      --reference {{ constants.phoenix.reference_fasta }} \
      --input "{{ bam }}" \
      {% for interval in batch %}
      -L "{{ interval.contig }}:{{ interval.start }}-{{ interval.stop }}" \
      {% endfor %}
      -O "{{ temp_dir }}/{{ loop.index }}.g.vcf.gz"

{% endfor %}


- name: haplotypecaller_gvcf_merge_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype}}, constitutional, snp_indel_caller, gatk_HaplotypeCaller, {{ sample.name }}]
  reset: predecessors
  input:
    {% for batch in constants.phoenix.calling_intervals %}
    - {{ temp_dir }}/{{ loop.index }}.g.vcf.gz
    {% endfor %}
  output:
    - {{ gvcf }}
    - {{ gvcf }}.tbi
  walltime: "24:00:00"
  cpus: 1
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.gatk.module }}

    mkdir -p "{{ results_dir }}"

    gatk MergeVcfs \
      --java-options "-Xmx7G" \
      {% for batch in constants.phoenix.calling_intervals %}
      --INPUT "{{ temp_dir }}/{{ loop.index }}.g.vcf.gz" \
      {% endfor %}
      --OUTPUT "{{ gvcf }}"

    {# Remove the remaining files #}
    {% set task %}haplotypecaller_gvcf_merge_{{ sample.name }}_{{ aligner }}{% endset %}
    {% set directory %}{{ temp_dir }}{% endset %}
    {{- remove_files(directory,none,task) }}

{% endmacro %}

