{% macro mm_igtx_pairoscope(sample, aligner='bwa') %}

{% set temp_dir %}temp/{{ sample.gltype }}/somatic_structural_calls/pairoscope/{{ sample.name }}{% endset %}
{% set tumor_bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{% set results_dir %}{{ sample.gltype }}/somatic_structural_calls/pairoscope/{{ sample.name }}{% endset %}

- name: mm_igtx_pairoscope_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, structural_caller, pairoscope, {{ sample.name }}]
  tags: [pairoscope, mm_igtx_calling, {{ sample.gltype }}]
  methods: >
    Myeloma specific calling of immunoglobulin translocations for {{ sample.name }} ({{ aligner }})
    were called with {{ constants.tools.pairoscope.verbose }}.
  input:
    - {{ tumor_bam }}
  output:
    - {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx.png
    - {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_discordantTable.txt
    - {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_calls.txt
  cpus: 2
  mem: 4G
  walltime: "4:00:00"
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.pairoscope.module }}
    module load {{ constants.tools.python_3_7_2.module }}

    {# Purge any existing run files prior to starting #}
    rm -r "{{ temp_dir }}" || true
    mkdir -p "{{ temp_dir }}"
    mkdir -p "{{ results_dir }}"

    # Run pairoscope process
    pairoscope -q 0 -m 1000000 -H 1400 -W 1024 -u 2000 -l 200 \
      -o {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx.png \
      {{ tumor_bam }} chr2 88750483 90261139 \
      {{ tumor_bam }} chr4 1798273 1998273 \
      {{ tumor_bam }} chr6 41632262 42332262 \
      {{ tumor_bam }} chr8 124987758 129487754 \
      {{ tumor_bam }} chr8 142918584 143925832 \
      {{ tumor_bam }} chr11 68732532 69685232 \
      {{ tumor_bam }} chr12 3690834 4690834 \
      {{ tumor_bam }} chr14 105533663 106881350 \
      {{ tumor_bam }} chr16 78096103 79866103 \
      {{ tumor_bam }} chr20 39671358 40971360 \
      {{ tumor_bam }} chr22 21995603 23057822 2> {{ temp_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_discordantReads.txt

    grep -v "Non-matching mate orientation." {{ temp_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_discordantReads.txt |\
    awk -v var1="{{ sample.rgsm }}" 'BEGIN{OFS="\t" ; print "Specimen", "ChrA", "PositionA", "ChrB", "PositionB"}{print var1, $1, $2, $3, $4}' > \
    {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_discordantTable.txt

    python ${PATH_TO_PHOENIX_REPO}/required_scripts/{{ constants.phoenix.pairoscope_mm_igtx_calling_script }} \
      --input_file {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_discordantTable.txt \
      --specimen {{ sample.rgsm }} \
      --output_file {{ results_dir }}/{{ sample.name }}.{{ aligner }}_pairoscope_igtx_calls.txt \
      --window 2000 \
      --window_min 100 \
      --call_requirement 3




{% endmacro %}