
{% macro freebayes(sample_name, sample, aligner='bwa') %}
{% for batch in constants.phoenix.intervals_batched %}
- name: freebayes_{{ sample_name }}_{{ aligner }}_{{ loop.index }}
  input: {{ sample.glType}}/alignment/{{ aligner }}/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.bam
  walltime: "24:00:00"
  cpus: 4
  mem: 16000
  cmd: |
    set -uev
    module load {{ constants.tools.freebayes_1_2.module }}

    mkdir -p "temp/{{ sample_name }}_{{ aligner }}_freebayes/"

    TAB=$'\t'
    cat <<EOF > "temp/{{ sample_name }}_{{ aligner }}_freebayes/{{ loop.index }}.bed"
    {% for interval in batch %}
    {{ interval.contig }}${TAB}{{ interval.start }}${TAB}{{ interval.stop }}
    {% endfor %}
    EOF

    freebayes \
      -b "{{ sample.glType}}/alignment/{{ aligner }}/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.bam" \
      -f "{{ constants.phoenix.reference_fasta_path }}" \
      -t "temp/{{ sample_name }}_{{ aligner }}_freebayes/{{ loop.index }}.bed" \
      --ploidy 2 \
      --min-repeat-entropy 1 \
      > "temp/{{ sample_name }}_{{ aligner }}_freebayes/{{ loop.index }}.vcf"

{% endfor %}


- name: freebayes_merge_{{ sample_name }}_{{ aligner }}
  after: 
    re: freebayes_{{ sample_name }}_{{ aligner }}_.*
  output: {{ sample.glType }}/constitutional_variant_calls/freebayes/{{ sample_name }}.{{ aligner }}.freebayes.vcf
  walltime: "24:00:00"
  cpus: 4
  mem: 16000
  cmd: |
    set -euv
    module load {{ constants.tools.gatk_4_0_7_0.module }}

    mkdir -p "{{ sample.glType }}/constitutional_variant_calls/freebayes/{{ sample_name }}/"

    gatk MergeVcfs \
      {% for batch in constants.phoenix.intervals_batched %}
      --INPUT "temp/{{ sample_name }}_{{ aligner }}_freebayes//{{ loop.index }}.vcf" \
      {% endfor %}
      --OUTPUT "{{ sample.glType }}/constitutional_variant_calls/freebayes/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.freebayes.vcf.gz"

    {% if not debug %}
    rm -r "temp/{{ sample_name }}_{{ aligner }}_freebayes/"
    {% endif %}


- name: snpeff_freebayes_{{ sample_name }}_{{ aligner }}
  tags: [snpeff, annotation, {{ sample_name }}]
  input: {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.hc.vcf.gz
  walltime: "8:00:00"
  cmd: |
    set -euv

    module load {{ constants.tools.snpeff_4_3t.module }}

    snpEff eff \
        -noLog \
        -s "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample_name }}/{{ sample_name }}.snpEff.stats.txt" \
        {{ constants.phoenix.snpeff_db_name }} \
        {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.hc.vcf.gz \
        > {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample_name }}/{{ sample_name }}.{{ aligner }}.ann.hc.vcf.gz


{% endmacro %}