# Call variants on a gVCF with GATK
{% from 'modules/snpeff.jst' import snpeff with context %}

{% macro genotypegvcf(sample, aligner='bwa') %}
{% for batch in constants.phoenix.calling_intervals %}
- name: genotypegvcf_{{ sample.name }}_{{ aligner }}_{{ loop.index }}
  input: {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.g.vcf.gz
  walltime: "24:00:00"
  cpus: 4
  mem: 16G
  cmd: |
    set -euv
    module load {{ constants.tools.gatk_4_1_0_0.module }}
    mkdir -p "temp/{{ sample.name }}_{{ aligner }}_hc_vcf_chunks/"

    gatk GenotypeGVCFs \
      --java-options "-Xmx14G" \
      --reference {{ constants.phoenix.reference_fasta }} \
      {% for interval in batch %}
      --intervals "{{ interval.contig }}:{{ interval.start }}-{{ interval.stop }}" \
      {% endfor %}
      --variant "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.g.vcf.gz" \
      --output "temp/{{ sample.name }}_{{ aligner }}_hc_vcf_chunks/{{ loop.index }}.vcf.gz"

{% endfor %}


- name: genotypegvcf_merge_{{ sample.name }}_{{ aligner }}
  after: 
    re: genotypegvcf_{{ sample.name }}_{{ aligner }}_.*
  output: {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.vcf.gz
  walltime: "24:00:00"
  cpus: 4
  mem: 16G
  cmd: |
    #!/bin/bash
    set -euv
    module load {{ constants.tools.gatk_4_1_0_0.module }}

    gatk MergeVcfs \
      --java-options "-Xmx14G" \
      {% for batch in constants.phoenix.calling_intervals %}
      --INPUT "temp/{{ sample.name }}_{{ aligner }}_hc_vcf_chunks/{{ loop.index }}.vcf.gz" \
      {% endfor %}
      --OUTPUT "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.vcf.gz"

    {% if not debug %}
    rm -r "temp/{{ sample.name }}_{{ aligner }}_hc_vcf_chunks/"
    {% endif %}


- name: cnnscorevariants2d_{{ sample.name }}_{{ aligner }}
  input: 
    - {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.vcf.gz
    - {{ sample.glType}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  output: 
    - {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.all.vcf.gz
  walltime: "24:00:00"
  cpus: 2
  mem: 16G
  cmd: |
    set -euv
    module load {{ constants.tools.gatk_4_1_0_0.module }}
    source activate gatk

    gatk CNNScoreVariants \
      --tmp-dir "temp" \
      --java-options "-Xmx14G" \
      --tensor-type read_tensor \
      --reference "{{ constants.phoenix.reference_fasta }}" \
      --variant "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.vcf.gz" \
      --input "{{ sample.glType}}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam" \
      --output "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.all.vcf.gz"


- name: haplotypecaller_filter_variants_{{ sample.name }}_{{ aligner }}
  tags: [haplotypecaller, bcftools, {{ sample.glType }}]
  input:
    - {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.all.vcf.gz
  output:
    - {{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.pass.vcf.gz
  cmd: |
    set -euv
    module load {{ constants.tools.samtools_1_9.module }}

    # Then filter out the PASS variants to a separate file
    bcftools filter \
      -O z \
      -i 'FILTER == "PASS"' \
      "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.all.vcf.gz" \
      > "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.pass.vcf.gz"

    bcftools index "{{ sample.glType }}/constitutional_variant_calls/haplotypecaller/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.hc.pass.vcf.gz"


{% endmacro %}

