# Germline variant calling 
{% from 'modules/germline_variant_calling/gatk_haplotypecaller.jst' import haplotypecaller with context %}
{% from 'modules/germline_variant_calling/gatk_genotypegvcf.jst' import genotypegvcf with context %}
{% from 'modules/germline_variant_calling/freebayes.jst' import freebayes with context %}
{% from 'modules/germline_variant_calling/broad_ichorcna.jst' import ichorcna with context %}
{% from 'modules/germline_variant_calling/manta.jst' import manta_constitutional with context %}


{% macro germline_variant_calling(samples) %}
{% for sample_name, sample in samples.items() if sample.glType|lower == 'exome' %}
    {{- haplotypecaller(sample_name, sample, aligner='bwa') }}

    {% if tasks.Exome_freebayes_freebayes_1_2_0 is defined and tasks.Exome_freebayes_freebayes_1_2_0 %}
        {{- genotypegvcf(sample_name, sample, aligner='bwa') }}
        {{- freebayes(sample_name, sample, aligner='bwa') }}
    {% endif %}

    {% if sample.subGroup|lower == 'constitutional' %}
        {{- ichorcna(sample_name, sample, aligner='bwa') }}
        {{- manta_constitutional(sample_name, sample, exome=True, aligner='bwa') }}
    {% endif %}
{% endfor %}


{% for sample_name, sample in samples.items() if sample.glType|lower == 'genome' %}
    {{- haplotypecaller(sample_name, sample, aligner='bwa') }}

    {% if tasks.Genome_freebayes_freebayes_1_2_0 is defined and tasks.Genome_freebayes_freebayes_1_2_0 %}
        {{- genotypegvcf(sample_name, sample, aligner='bwa') }}
        {{- freebayes(sample_name, sample, aligner='bwa') }}
    {% endif %}

    {% if sample.subGroup|lower == 'constitutional' %}
        {{- ichorcna(sample_name, sample, aligner='bwa') }}
        {{- manta_constitutional(sample_name, sample, exome=False, aligner='bwa') }}
    {% endif %}
{% endfor %}

{% endmacro %}
