# Germline variant calling 
{% from 'modules/germline_variant_calling/gatk_haplotypecaller.jst' import haplotypecaller with context %}
{% from 'modules/germline_variant_calling/gatk_genotypegvcf.jst' import genotypegvcf with context %}
{% from 'modules/germline_variant_calling/freebayes.jst' import freebayes with context %}
{% from 'modules/germline_variant_calling/broad_ichorcna.jst' import ichorcna with context %}
{% from 'modules/germline_variant_calling/manta.jst' import manta_constitutional with context %}


{% macro germline_variant_calling(samples) %}
{% for sample in samples.values() if sample.glType|lower in ['exome', 'genome'] %}
    {{- haplotypecaller(sample, aligner='bwa') }}

    {% if tasks.Exome_freebayes_freebayes_1_2_0 is defined and tasks.Exome_freebayes_freebayes_1_2_0 %}
        {{- genotypegvcf(sample, aligner='bwa') }}
        {{- freebayes(sample, aligner='bwa') }}
    {% endif %}

    {% if sample.subGroup|lower == 'constitutional' %}
        {{- ichorcna(sample, aligner='bwa') }}
        {{- manta_constitutional(sample, aligner='bwa') }}
    {% endif %}
{% endfor %}

{% endmacro %}
