{% macro manta_constitutional(sample, exome=False, aligner='bwa') %}
- name: manta_constitutional_{{ sample.name }}_{{ aligner }}
  methods: > 
    Structural variants (SVs) and indels for {{ sample.name }} ({{ aligner }}) were called with 
    {{ constants.tools.manta_1_4.verbose }}.
  input:
    - {{ sample.glType }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  output: {{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/results_{{ aligner }}
  cpus: 39
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.manta_1_4.module }}

    RUNDIR="{{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/{{ sample.name }}.{{ aligner }}"

    # Purge any existing run files prior to starting
    rm -r "${RUNDIR}" || true
    mkdir -p "${RUNDIR}"

    # cat <<EOF > "${RUNDIR}/config.ini"
    # [manta]
    # enableRemoteReadRetrievalForInsertionsInCancerCallingModes = 1
    # EOF
     # --config "${RUNDIR}/config.ini" \
    configManta.py \
      {% if exome %}
      --exome \
      --generateEvidenceBam \
      {% endif %}
      --bam "{{ sample.glType }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam" \
      --referenceFasta "{{ constants.phoenix.reference_fasta_path }}" \
      --runDir "${RUNDIR}"

    # Execute on the local machine with 28 parallel jobs
    "${RUNDIR}/runWorkflow.py" -m local -j 39

    # Move the final results out of the rundir
    mv \
      "${RUNDIR}/results" \
      "{{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/results_{{ aligner }}"

    # Compress the rest of the files for reference later
    tar -cz --remove-files \
      -f "{{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.tar.gz" \
      "${RUNDIR}"

{% endmacro %}