{% macro manta_constitutional(sample, exome=False, aligner='bwa') %}
- name: manta_constitutional_{{ sample.name }}_{{ aligner }}
  methods: > 
    Structural variants (SVs) and indels for {{ sample.name }} ({{ aligner }}) were called with 
    {{ constants.tools.manta_1_4.verbose }}.
  input:
    - {{ sample.glType }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam
  output: {{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/results_{{ aligner }}
  cpus: 40
  walltime: "24:00:00"
  cmd: |
    set -euv
    module load {{ constants.tools.manta_1_4.module }}
    module load {{ constants.tools.samtools_1_9.module }}

    RUNDIR="{{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/{{ sample.name }}.{{ aligner }}"

    # Purge any existing run files prior to starting
    rm -r "${RUNDIR}" || true
    mkdir -p "${RUNDIR}"

    MANTA_BED="temp/{{ sample.name }}_{{ aligner }}_manta.bed"

    TAB=$'\t'
    cat <<EOF > "${MANTA_BED}"
    {% for interval in constants.phoenix.intervals %}
    {{ interval.contig }}${TAB}{{ interval.start }}${TAB}{{ interval.stop }}
    {% endfor %}
    EOF

    bgzip -f "${MANTA_BED}"
    tabix -f -p bed "${MANTA_BED}.gz"

    configManta.py \
      {% if exome %}
      --exome \
      --generateEvidenceBam \
      {% endif %}
      --bam "{{ sample.glType }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam" \
      --referenceFasta "{{ constants.phoenix.reference_fasta_path }}" \
      --runDir "${RUNDIR}"

    # Execute on the local machine with 39 parallel jobs
    "${RUNDIR}/runWorkflow.py" -m local -j 39

    # Move the final results out of the rundir
    mv \
      "${RUNDIR}/results" \
      "{{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}_{{ aligner }}"

    # Compress the rest of the files for reference later
    tar -cz --remove-files \
      -f "{{ sample.glType }}/constitutional_structural_calls/manta/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.tar.gz" \
      "${RUNDIR}"

{% endmacro %}