
# Somatic calling with octopus
octopus \
  --caller population \
  --threads 8 \
  --max-reference-cache-footprint 750MB \
  --ignore-unmapped-contigs \
  --assembly-candidate-generator ON \
  --somatics-only OFF \
  --phasing-level minimal \
  --legacy \
  --reference {{ constants.phoenix.reference_fasta_path }} \
  --reads ${LIST_BAMS[@]} \
  --normal-sample ${NORMAL_BAM_NAME} \
  --regions ${CHROM} \
  --bamout "... .realigned" \
  -o "temp/{{ sample_name }}_{{ aligner }}_hc_gvcf_chunks/{{ loop.index }}.vcf.gz" \
 
